---
const list = [
	{
		image: "img/what-doing/1.jpg",
		image2x: "img/what-doing/1@2x.jpg 2x",
		logo: "dt-medical",
		title: "Профессиональное видео для медицинских учреждений",
		site: "dtmedical.ru",
		logoWidth: 98,
		logoHeight: 28
	},
	{
		image: "img/what-doing/2.jpg",
		image2x: "img/what-doing/2@2x.jpg 2x",
		logo: "dt-rent",
		title: "Профессиональное видео для медицинских учреждений",
		site: "dtrent.ru",
		logoWidth: 68,
		logoHeight: 27
	}
]
---

<section class="section what-doing">
	<div class="container">
		<div class="what-doing__content">
			<div class="what-doing__row">
				<div class="what-doing__column">
					<div class="what-doing__graphic">
						<div class="what-doing__graphic-item what-doing__graphic-item_triangles" data-parallax data-parallax-orientation="down" data-parallax-scale="1.3">
							<svg class="what-doing__graphic-triangles anim anim_slideRight" width="157" height="157" viewBox="0 0 157 157" fill="none" xmlns="http://www.w3.org/2000/svg" data-anim>
								<path d="M139.556 17.4445V0L157 17.4445H139.556Z" fill="black"/>
								<path d="M0 139.556H17.4445V157L0 139.556Z" fill="black"/>
								<path d="M69.7778 139.556H87.2222V157L69.7778 139.556Z" fill="black"/>
								<path d="M139.556 139.556H157V157L139.556 139.556Z" fill="black"/>
								<path d="M0 69.7777H17.4445V87.2222L0 69.7777Z" fill="black"/>
								<path d="M0 0H17.4445V17.4445L0 0Z" fill="black"/>
								<path d="M122.111 17.4445H139.556V34.8889L122.111 17.4445Z" fill="black"/>
								<path d="M104.667 17.4445V0L122.111 17.4445H104.667Z" fill="black"/>
								<path d="M139.556 52.3334V34.8889L157 52.3334H139.556Z" fill="black"/>
								<path d="M87.2222 34.8889V17.4445L104.667 34.8889H87.2222Z" fill="black"/>
								<path d="M104.667 34.8889H122.111V52.3334L104.667 34.8889Z" fill="black"/>
								<path d="M122.111 69.7777V52.3333L139.556 69.7777H122.111Z" fill="black"/>
								<path d="M139.556 69.7777H157V87.2222L139.556 69.7777Z" fill="black"/>
								<path d="M69.7778 0H87.2222V17.4445L69.7778 0Z" fill="black"/>
								<path d="M52.3333 17.4445H69.7778V34.8889L52.3333 17.4445Z" fill="black"/>
								<path d="M69.7778 52.3334V34.8889L87.2222 52.3334H69.7778Z" fill="black"/>
								<path d="M87.2222 52.3333H104.667V69.7777L87.2222 52.3333Z" fill="black"/>
								<path d="M104.667 87.2222V69.7777L122.111 87.2222H104.667Z" fill="black"/>
								<path d="M122.111 87.2223H139.556V104.667L122.111 87.2223Z" fill="black"/>
								<path d="M139.556 122.111V104.667L157 122.111H139.556Z" fill="black"/>
								<path d="M34.8889 17.4445V0L52.3334 17.4445H34.8889Z" fill="black"/>
								<path d="M17.4444 34.8889V17.4445L34.8888 34.8889H17.4444Z" fill="black"/>
								<path d="M34.8889 34.8889H52.3334V52.3334L34.8889 34.8889Z" fill="black"/>
								<path d="M52.3333 69.7777V52.3333L69.7778 69.7777H52.3333Z" fill="black"/>
								<path d="M69.7778 69.7777H87.2222V87.2222L69.7778 69.7777Z" fill="black"/>
								<path d="M87.2222 104.667V87.2223L104.667 104.667H87.2222Z" fill="black"/>
								<path d="M104.667 104.667H122.111V122.111L104.667 104.667Z" fill="black"/>
								<path d="M122.111 139.556V122.111L139.556 139.556H122.111Z" fill="black"/>
								<path d="M0 52.3334V34.8889L17.4445 52.3334H0Z" fill="black"/>
								<path d="M17.4444 52.3333H34.8888V69.7777L17.4444 52.3333Z" fill="black"/>
								<path d="M34.8889 87.2222V69.7777L52.3334 87.2222H34.8889Z" fill="black"/>
								<path d="M52.3333 87.2223H69.7778V104.667L52.3333 87.2223Z" fill="black"/>
								<path d="M69.7778 122.111V104.667L87.2222 122.111H69.7778Z" fill="black"/>
								<path d="M87.2222 122.111H104.667V139.556L87.2222 122.111Z" fill="black"/>
								<path d="M104.667 157V139.556L122.111 157H104.667Z" fill="black"/>
								<path d="M17.4444 104.667V87.2223L34.8888 104.667H17.4444Z" fill="black"/>
								<path d="M34.8889 104.667H52.3334V122.111L34.8889 104.667Z" fill="black"/>
								<path d="M52.3333 139.556V122.111L69.7778 139.556H52.3333Z" fill="black"/>
								<path d="M17.4444 122.111H34.8888V139.556L17.4444 122.111Z" fill="black"/>
								<path d="M34.8889 157V139.556L52.3334 157H34.8889Z" fill="black"/>
								<path d="M0 122.111V104.667L17.4445 122.111H0Z" fill="black"/>
							</svg>
						</div>
						<div class="what-doing__graphic-item what-doing__graphic-item_square" data-parallax data-parallax-orientation="up" data-parallax-scale="1.4">
							<span class="what-doing__graphic-square anim anim_slideLeft" data-anim></span>
						</div>
						<div class="what-doing__graphic-item what-doing__graphic-item_circle" data-parallax data-parallax-orientation="up" data-parallax-scale="1.5">
							<span class="what-doing__graphic-circle anim anim_zoomIn" data-anim data-delay="300"></span>
						</div>
					</div>
					<h2 class="what-doing__title section-title section-title_size-sm anim anim_slideUp" data-anim>Что еще мы делаем?</h2>
					<div class="what-doing__text anim anim_slideUp" data-anim data-delay="200">
						<p>Мы&nbsp;не&nbsp;только делаем видео ролики, но&nbsp;еще здаем в&nbsp;аренду оборудование</p>
					</div>
				</div>
				<div class="what-doing__column">
					<div class="what-doing__box">
						<div class="what-doing__items">
							{list.map(item => (
								<div class="what-doing__item anim anim_slideUp" data-anim>
									<a href={`http://${item.site}`} class="what-doing__item-link" target="_blank">
										<div class="what-doing__item-image-box">
											<img class="what-doing__item-image lazy" data-src={item.image} data-srcset={item.image2x} width="340" height="230" alt="" />
											<div class="what-doing__item-logo">
												<img class="what-doing__item-logo-image lazy" data-src={`img/${item.logo}.svg`} width={item.logoWidth} height={item.logoHeight} alt=""  />
											</div>
										</div>
										<div class="what-doing__item-title">{item.title}</div>
										<div class="what-doing__item-site">
											<span class="what-doing__item-site-name">{item.site}</span>
											<svg class="what-doing__item-site-icon" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
												<circle cx="9" cy="9" r="9"/>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M6.7 6H12.1C12.4314 6 12.7 6.26863 12.7 6.6V12C12.7 12.3314 12.4314 12.6 12.1 12.6C11.7686 12.6 11.5 12.3314 11.5 12V8.04853L7.02426 12.5243C6.78995 12.7586 6.41005 12.7586 6.17574 12.5243C5.94142 12.2899 5.94142 11.9101 6.17574 11.6757L10.6515 7.2H6.7C6.36863 7.2 6.1 6.93137 6.1 6.6C6.1 6.26863 6.36863 6 6.7 6Z" fill="white"/>
											</svg>
										</div>
									</a>
								</div>
							  ))}
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>