---
import Icon from '@components/modules/Icon.astro';
import Tags from '@components/blocks/Tags.astro';
import TabMenu from '@components/blocks/TabMenu.astro';

interface Props {
    type?: "default" | "portfolio" | "project" | "service" | "history" | "brief" | "blog" | "article" | "about" | "contacts" | "awards" | "vacancies" | "404";
    title?: string;
	titleSize?: 'lg';
    class?: string;
    [x: string]: any;
}

const {
    type,
    title,
	titleSize,
    class: className,
    ...rest
} = Astro.props;

const cardSlider = [1,2,3,4,5];

---

<div 
	class:list={[
		'heading',
		`heading_${type}`,
		className
	]}
	{...rest}
>
	<div class="container">
		<div class="heading__inner">
			{
				type === 'portfolio' ?
					<div class="heading__graphic">
						<svg class="heading__graphic-points" width="172" height="172" viewBox="0 0 172 172" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.5301 6.18957C12.5301 9.66176 9.81271 12.3791 6.34052 12.3791C2.86833 12.3791 0 9.66176 0 6.18957C0 2.71738 2.71737 0 6.18956 0C9.66175 0 12.5301 2.71738 12.5301 6.18957Z" fill="#FF4400"/>
							<path d="M12.5301 45.8937C12.5301 49.3659 9.81271 52.0832 6.34052 52.0832C2.86833 52.0832 0 49.3659 0 45.8937C0 42.4215 2.71737 39.7041 6.18956 39.7041C9.66175 39.7041 12.5301 42.4215 12.5301 45.8937Z" fill="#FF4400"/>
							<path d="M12.3791 85.5972C12.3791 89.0694 9.66175 91.7868 6.18956 91.7868C2.71737 91.7868 0 89.0694 0 85.5972C0 82.125 2.71737 79.4077 6.18956 79.4077C9.66175 79.4077 12.3791 82.125 12.3791 85.5972Z" fill="#FF4400"/>
							<path d="M12.3791 125.3C12.3791 128.772 9.66175 131.49 6.18956 131.49C2.71737 131.49 0 128.772 0 125.3C0 121.828 2.71737 119.111 6.18956 119.111C9.66175 118.96 12.3791 121.828 12.3791 125.3Z" fill="#FF4400"/>
							<path d="M12.3791 164.854C12.3791 168.326 9.66175 171.043 6.18956 171.043C2.71737 171.043 0 168.326 0 164.854C0 161.381 2.71737 158.664 6.18956 158.664C9.66175 158.664 12.3791 161.532 12.3791 164.854Z" fill="#FF4400"/>
							<path d="M52.0832 45.8937C52.0832 49.3659 49.3658 52.0832 45.8937 52.0832C42.4215 52.0832 39.7041 49.3659 39.7041 45.8937C39.7041 42.4215 42.4215 39.7041 45.8937 39.7041C49.3658 39.7041 52.0832 42.4215 52.0832 45.8937Z" fill="#FF4400"/>
							<path d="M52.0832 85.5972C52.0832 89.0694 49.3658 91.7868 45.8937 91.7868C42.4215 91.7868 39.7041 89.0694 39.7041 85.5972C39.7041 82.125 42.4215 79.4077 45.8937 79.4077C49.3658 79.4077 52.0832 82.125 52.0832 85.5972Z" fill="#FF4400"/>
							<path d="M52.0832 125.3C52.0832 128.772 49.3658 131.49 45.8937 131.49C42.4215 131.49 39.7041 128.772 39.7041 125.3C39.7041 121.828 42.4215 119.111 45.8937 119.111C49.3658 118.96 52.0832 121.828 52.0832 125.3Z" fill="#FF4400"/>
							<path d="M52.0832 164.854C52.0832 168.326 49.3658 171.043 45.8937 171.043C42.4215 171.043 39.7041 168.326 39.7041 164.854C39.7041 161.381 42.4215 158.664 45.8937 158.664C49.3658 158.664 52.0832 161.532 52.0832 164.854Z" fill="#FF4400"/>
							<path d="M91.7868 45.8937C91.7868 49.3659 89.0695 52.0832 85.5973 52.0832C82.1251 52.0832 79.4077 49.3659 79.4077 45.8937C79.4077 42.4215 82.1251 39.7041 85.5973 39.7041C89.0695 39.7041 91.7868 42.4215 91.7868 45.8937Z" fill="#FF4400"/>
							<path d="M91.7868 85.5972C91.7868 89.0694 89.0695 91.7868 85.5973 91.7868C82.1251 91.7868 79.4077 89.0694 79.4077 85.5972C79.4077 82.125 82.1251 79.4077 85.5973 79.4077C89.0695 79.4077 91.7868 82.125 91.7868 85.5972Z" fill="#FF4400"/>
							<path d="M91.7868 125.3C91.7868 128.772 89.0695 131.49 85.5973 131.49C82.1251 131.49 79.4077 128.772 79.4077 125.3C79.4077 121.828 82.1251 119.111 85.5973 119.111C89.0695 118.96 91.7868 121.828 91.7868 125.3Z" fill="#FF4400"/>
							<path d="M91.7868 164.854C91.7868 168.326 89.0695 171.043 85.5973 171.043C82.1251 171.043 79.4077 168.326 79.4077 164.854C79.4077 161.381 82.1251 158.664 85.5973 158.664C89.0695 158.664 91.7868 161.532 91.7868 164.854Z" fill="#FF4400"/>
							<path d="M131.49 45.8937C131.49 49.3659 128.773 52.0832 125.3 52.0832C121.828 52.0832 119.111 49.3659 119.111 45.8937C119.111 42.4215 121.828 39.7041 125.3 39.7041C128.773 39.7041 131.49 42.4215 131.49 45.8937Z" fill="#FF4400"/>
							<path d="M131.49 85.5972C131.49 89.0694 128.773 91.7868 125.3 91.7868C121.828 91.7868 119.111 89.0694 119.111 85.5972C119.111 82.125 121.828 79.4077 125.3 79.4077C128.773 79.4077 131.49 82.125 131.49 85.5972Z" fill="#FF4400"/>
							<path d="M131.49 125.3C131.49 128.772 128.773 131.49 125.3 131.49C121.828 131.49 119.111 128.772 119.111 125.3C119.111 121.828 121.828 119.111 125.3 119.111C128.773 118.96 131.49 121.828 131.49 125.3Z" fill="#FF4400"/>
							<path d="M131.49 164.854C131.49 168.326 128.773 171.043 125.3 171.043C121.828 171.043 119.111 168.326 119.111 164.854C119.111 161.381 121.828 158.664 125.3 158.664C128.773 158.664 131.49 161.532 131.49 164.854Z" fill="#FF4400"/>
							<path d="M171.194 45.8937C171.194 49.3659 168.476 52.0832 165.004 52.0832C161.532 52.0832 158.814 49.3659 158.814 45.8937C158.814 42.4215 161.532 39.7041 165.004 39.7041C168.325 39.7041 171.194 42.4215 171.194 45.8937Z" fill="#FF4400"/>
							<path d="M171.194 85.5972C171.194 89.0694 168.476 91.7868 165.004 91.7868C161.532 91.7868 158.814 89.0694 158.814 85.5972C158.814 82.125 161.532 79.4077 165.004 79.4077C168.325 79.4077 171.194 82.125 171.194 85.5972Z" fill="#FF4400"/>
							<path d="M171.194 125.3C171.194 128.772 168.476 131.49 165.004 131.49C161.532 131.49 158.814 128.772 158.814 125.3C158.814 121.828 161.532 119.111 165.004 119.111C168.325 118.96 171.194 121.828 171.194 125.3Z" fill="#FF4400"/>
							<path d="M171.194 164.854C171.194 168.326 168.476 171.043 165.004 171.043C161.532 171.043 158.814 168.326 158.814 164.854C158.814 161.381 161.532 158.664 165.004 158.664C168.325 158.664 171.194 161.532 171.194 164.854Z" fill="#FF4400"/>
							<path d="M52.0832 6.18957C52.0832 9.66176 49.3658 12.3791 45.8937 12.3791C42.4215 12.3791 39.7041 9.66176 39.7041 6.18957C39.7041 2.71738 42.4215 0 45.8937 0C49.3658 0 52.0832 2.71738 52.0832 6.18957Z" fill="#FF4400"/>
							<path d="M91.7868 6.18957C91.7868 9.66176 89.0695 12.3791 85.5973 12.3791C82.1251 12.3791 79.4077 9.66176 79.4077 6.18957C79.4077 2.71738 82.1251 0 85.5973 0C89.0695 0 91.7868 2.71738 91.7868 6.18957Z" fill="#FF4400"/>
							<path d="M131.49 6.18957C131.49 9.66176 128.773 12.3791 125.3 12.3791C121.828 12.3791 119.111 9.66176 119.111 6.18957C119.111 2.71738 121.828 0 125.3 0C128.773 0 131.49 2.71738 131.49 6.18957Z" fill="#FF4400"/>
							<path d="M32.4572 26.1176C32.4572 29.5898 29.7399 32.3072 26.2677 32.3072C22.7955 32.3072 20.0781 29.5898 20.0781 26.1176C20.0781 22.6454 22.7955 19.9281 26.2677 19.9281C29.5889 19.7771 32.4572 22.6454 32.4572 26.1176Z" fill="#FF4400"/>
							<path d="M72.0105 26.1176C72.0105 29.5898 69.2931 32.3072 65.8209 32.3072C62.3487 32.3072 59.6313 29.5898 59.6313 26.1176C59.6313 22.6454 62.3487 19.9281 65.8209 19.9281C69.2931 19.7771 72.0105 22.6454 72.0105 26.1176Z" fill="#FF4400"/>
							<path d="M111.714 26.1168C111.714 29.589 108.997 32.3064 105.525 32.3064C102.052 32.3064 99.335 29.589 99.335 26.1168C99.335 22.6446 102.052 19.9272 105.525 19.9272C108.997 19.9272 111.714 22.6446 111.714 26.1168Z" fill="#FF4400"/>
							<path d="M151.267 26.1176C151.267 29.5898 148.55 32.3072 145.078 32.3072C141.606 32.3072 138.888 29.5898 138.888 26.1176C138.888 22.6454 141.606 19.9281 145.078 19.9281C148.55 19.7771 151.267 22.6454 151.267 26.1176Z" fill="#FF4400"/>
							<path d="M32.4572 65.67C32.4572 69.1422 29.7399 71.8596 26.2677 71.8596C22.7955 71.8596 20.0781 69.1422 20.0781 65.67C20.0781 62.1978 22.7955 59.4805 26.2677 59.4805C29.5889 59.4805 32.4572 62.3488 32.4572 65.67Z" fill="#FF4400"/>
							<path d="M72.0105 65.67C72.0105 69.1422 69.2931 71.8596 65.8209 71.8596C62.3487 71.8596 59.6313 69.1422 59.6313 65.67C59.6313 62.1978 62.3487 59.4805 65.8209 59.4805C69.2931 59.4805 72.0105 62.3488 72.0105 65.67Z" fill="#FF4400"/>
							<path d="M111.714 65.67C111.714 69.1422 108.997 71.8596 105.525 71.8596C102.052 71.8596 99.335 69.1422 99.335 65.67C99.335 62.1978 102.052 59.4805 105.525 59.4805C108.997 59.4805 111.714 62.3488 111.714 65.67Z" fill="#FF4400"/>
							<path d="M151.267 65.67C151.267 69.1422 148.55 71.8596 145.078 71.8596C141.606 71.8596 138.888 69.1422 138.888 65.67C138.888 62.1978 141.606 59.4805 145.078 59.4805C148.55 59.4805 151.267 62.3488 151.267 65.67Z" fill="#FF4400"/>
							<path d="M32.4572 105.373C32.4572 108.845 29.7399 111.563 26.2677 111.563C22.7955 111.563 20.0781 108.845 20.0781 105.373C20.0781 101.901 22.7955 99.1836 26.2677 99.1836C29.5889 99.1836 32.4572 101.901 32.4572 105.373Z" fill="#FF4400"/>
							<path d="M72.0105 105.373C72.0105 108.845 69.2931 111.563 65.8209 111.563C62.3487 111.563 59.6313 108.845 59.6313 105.373C59.6313 101.901 62.3487 99.1836 65.8209 99.1836C69.2931 99.1836 72.0105 101.901 72.0105 105.373Z" fill="#FF4400"/>
							<path d="M111.714 105.373C111.714 108.845 108.997 111.563 105.525 111.563C102.052 111.563 99.335 108.845 99.335 105.373C99.335 101.901 102.052 99.1836 105.525 99.1836C108.997 99.1836 111.714 101.901 111.714 105.373Z" fill="#FF4400"/>
							<path d="M151.267 105.373C151.267 108.845 148.55 111.563 145.078 111.563C141.606 111.563 138.888 108.845 138.888 105.373C138.888 101.901 141.606 99.1836 145.078 99.1836C148.55 99.1836 151.267 101.901 151.267 105.373Z" fill="#FF4400"/>
							<path d="M32.4572 145.078C32.4572 148.55 29.7399 151.267 26.2677 151.267C22.7955 151.267 20.0781 148.55 20.0781 145.078C20.0781 141.606 22.7955 138.888 26.2677 138.888C29.5889 138.888 32.4572 141.606 32.4572 145.078Z" fill="#FF4400"/>
							<path d="M72.0105 145.078C72.0105 148.55 69.2931 151.267 65.8209 151.267C62.3487 151.267 59.6313 148.55 59.6313 145.078C59.6313 141.606 62.3487 138.888 65.8209 138.888C69.2931 138.888 72.0105 141.606 72.0105 145.078Z" fill="#FF4400"/>
							<path d="M111.714 145.078C111.714 148.55 108.997 151.267 105.525 151.267C102.052 151.267 99.335 148.55 99.335 145.078C99.335 141.606 102.052 138.888 105.525 138.888C108.997 138.888 111.714 141.606 111.714 145.078Z" fill="#FF4400"/>
							<path d="M151.267 145.078C151.267 148.55 148.55 151.267 145.078 151.267C141.606 151.267 138.888 148.55 138.888 145.078C138.888 141.606 141.606 138.888 145.078 138.888C148.55 138.888 151.267 141.606 151.267 145.078Z" fill="#FF4400"/>
							<path d="M171.194 6.18957C171.194 9.66176 168.476 12.3791 165.004 12.3791C161.532 12.3791 158.814 9.66176 158.814 6.18957C158.814 2.71738 161.532 0 165.004 0C168.325 0 171.194 2.71738 171.194 6.18957Z" fill="#FF4400"/>
						</svg>
					</div>
					<div class="heading__content">
						<h1 class="heading__title heading__title_size_lg" >
							<Fragment set:html={title}></Fragment><sup>270+</sup>
						</h1>
						<TabMenu class="heading__tab-menu" style="second" list={['Все', 'Обучающие', 'HR ролики', 'Промо']}></TabMenu>
					</div>
				: type === 'project' ? 
					<div class="heading__graphic">
						<div class="heading__graphic-item heading__graphic-item_ball" data-parallax data-parallax-orientation="up" data-parallax-scale="1.8">
							<span class="heading__graphic-ball"></span>
						</div>
						<div class="heading__graphic-item heading__graphic-item_lines" data-parallax data-parallax-orientation="up" data-parallax-scale="1.6">
							<svg class="heading__graphic-lines" width="114" height="114" viewBox="0 0 114 114" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3.9 0H0V113.4H3.9V0Z" fill="black"/>
								<path d="M11.6998 0H7.7998V113.4H11.6998V0Z" fill="black"/>
								<path d="M19.4996 0H15.5996V113.4H19.4996V0Z" fill="black"/>
								<path d="M27.4 0H23.5V113.4H27.4V0Z" fill="black"/>
								<path d="M35.1998 0H31.2998V113.4H35.1998V0Z" fill="black"/>
								<path d="M42.9996 0H39.0996V113.4H42.9996V0Z" fill="black"/>
								<path d="M50.8004 0H46.9004V113.4H50.8004V0Z" fill="black"/>
								<path d="M58.6002 0H54.7002V113.4H58.6002V0Z" fill="black"/>
								<path d="M66.4 0H62.5V113.4H66.4V0Z" fill="black"/>
								<path d="M74.3004 0H70.4004V113.4H74.3004V0Z" fill="black"/>
								<path d="M82.1002 0H78.2002V113.4H82.1002V0Z" fill="black"/>
								<path d="M89.9 0H86V113.4H89.9V0Z" fill="black"/>
								<path d="M97.6998 0H93.7998V113.4H97.6998V0Z" fill="black"/>
								<path d="M105.5 0H101.6V113.4H105.5V0Z" fill="black"/>
								<path d="M113.4 0H109.5V113.4H113.4V0Z" fill="black"/>
							</svg>
						</div>
					</div>
					<div class="heading__content">
						<h1 class="heading__title" >
							<Fragment set:html={title}></Fragment>
						</h1>
						<Tags class="heading__tags" list={["Съемка", "Графика", "Монтаж"]}></Tags>
					</div>
				: type === 'service' ? 
					<div class="heading__row">
						<div class="heading__content">
							<h1 class="heading__title heading__title_size_lg" set:html={title}></h1>
							<div class="heading__text">
								<p>Мы&nbsp;&mdash; лучший видеопродакшн по&nbsp;версии профессиональных премий.</p>	
							</div>
						</div>
						<div class="heading__image-box">
							<img class="heading__image" src="img/service/heading.jpg" srcset="img/service/heading@2x.jpg 2x" width="987" height="505" alt=""/>
							<div class="heading__graphic">
								<div class="heading__graphic-item heading__graphic-item_pixels" data-parallax data-parallax-orientation="down" data-parallax-scale="1.8">
									<svg class="heading__graphic-pixels" width="121" height="122" viewBox="0 0 121 122" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M121 81.333H80.667V121.666H121V81.333Z" fill="#FF4400"/>
										<path d="M121 0.666504H80.667V40.9997H121V0.666504Z" fill="#FF4400"/>
										<path d="M80.6663 40.9995H40.333V81.3328H80.6663V40.9995Z" fill="#FF4400"/>
										<path d="M40.3333 0.666504H0V40.9997H40.3333V0.666504Z" fill="#FF4400"/>
										<path d="M40.3333 81.333H0V121.666H40.3333V81.333Z" fill="#FF4400"/>
									</svg>
								</div>
								<div class="heading__graphic-item heading__graphic-item_rectangle"  data-parallax data-parallax-orientation="up" data-parallax-scale="1.9">
									<span class="heading__graphic-rectangle"></span>
								</div>
								<div class="heading__graphic-item heading__graphic-item_pattern" data-parallax data-parallax-orientation="up" data-parallax-scale="1.7">
									<svg class="heading__graphic-pattern" width="131" height="131" viewBox="0 0 131 131" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M124.646 44.8215V38.4679H131V35.1178H124.646V28.7642H121.296V35.1178H114.942V38.4679H121.296V44.8215H124.646Z" fill="white"/>
										<path d="M124.646 16.1728V9.7037H131V6.46913H124.646V0H121.296V6.46913H114.942V9.7037H121.296V16.1728H124.646Z" fill="white"/>
										<path d="M96.5748 44.8215V38.4679H103.044V35.1178H96.5748V28.7642H93.2247V35.1178H86.8711V38.4679H93.2247V44.8215H96.5748Z" fill="white"/>
										<path d="M95.8814 16.1728V9.7037H102.235V6.46913H95.8814V0H92.5314V6.46913H86.1777V9.7037H92.5314V16.1728H95.8814Z" fill="white"/>
										<path d="M110.207 30.4973V24.1436H116.676V20.7936H110.207V14.4399H106.857V20.7936H100.503V24.1436H106.857V30.4973H110.207Z" fill="white"/>
										<path d="M67.5797 44.8215V38.4679H74.0488V35.1178H67.5797V28.7642H64.3451V35.1178H57.876V38.4679H64.3451V44.8215H67.5797Z" fill="white"/>
										<path d="M67.1178 16.1728V9.7037H73.5869V6.46913H67.1178V0H63.8832V6.46913H57.4141V9.7037H63.8832V16.1728H67.1178Z" fill="white"/>
										<path d="M81.5572 30.4973V24.1436H87.9108V20.7936H81.5572V14.4399H78.2071V20.7936H71.8535V24.1436H78.2071V30.4973H81.5572Z" fill="white"/>
										<path d="M38.6998 44.8215V38.4679H45.0534V35.1178H38.6998V28.7642H35.3497V35.1178H28.9961V38.4679H35.3497V44.8215H38.6998Z" fill="white"/>
										<path d="M38.4684 16.1728V9.7037H44.822V6.46913H38.4684V0H35.1183V6.46913H28.7646V9.7037H35.1183V16.1728H38.4684Z" fill="white"/>
										<path d="M52.7926 30.4973V24.1436H59.1462V20.7936H52.7926V14.4399H49.4425V20.7936H43.0889V24.1436H49.4425V30.4973H52.7926Z" fill="white"/>
										<path d="M9.7037 44.8215V38.4679H16.0573V35.1178H9.7037V28.7642H6.35362V35.1178H0V38.4679H6.35362V44.8215H9.7037Z" fill="white"/>
										<path d="M9.7037 16.1728V9.7037H16.0573V6.46913H9.7037V0H6.35362V6.46913H0V9.7037H6.35362V16.1728H9.7037Z" fill="white"/>
										<path d="M24.0279 30.4973V24.1436H30.4971V20.7936H24.0279V14.4399H20.7934V20.7936H14.3242V24.1436H20.7934V30.4973H24.0279Z" fill="white"/>
										<path d="M124.646 73.5861V67.2325H131V63.8824H124.646V57.5288H121.296V63.8824H114.942V67.2325H121.296V73.5861H124.646Z" fill="white"/>
										<path d="M96.5748 73.5861V67.2325H103.044V63.8824H96.5748V57.5288H93.2247V63.8824H86.8711V67.2325H93.2247V73.5861H96.5748Z" fill="white"/>
										<path d="M110.207 59.2622V52.7931H116.676V49.5585H110.207V43.0894H106.857V49.5585H100.503V52.7931H106.857V59.2622H110.207Z" fill="white"/>
										<path d="M67.5797 73.5861V67.2325H74.0488V63.8824H67.5797V57.5288H64.3451V63.8824H57.876V67.2325H64.3451V73.5861H67.5797Z" fill="white"/>
										<path d="M81.5572 59.2622V52.7931H87.9108V49.5585H81.5572V43.0894H78.2071V49.5585H71.8535V52.7931H78.2071V59.2622H81.5572Z" fill="white"/>
										<path d="M38.6998 73.5861V67.2325H45.0534V63.8824H38.6998V57.5288H35.3497V63.8824H28.9961V67.2325H35.3497V73.5861H38.6998Z" fill="white"/>
										<path d="M52.7926 59.2622V52.7931H59.1462V49.5585H52.7926V43.0894H49.4425V49.5585H43.0889V52.7931H49.4425V59.2622H52.7926Z" fill="white"/>
										<path d="M9.7037 73.5861V67.2325H16.0573V63.8824H9.7037V57.5288H6.35362V63.8824H0V67.2325H6.35362V73.5861H9.7037Z" fill="white"/>
										<path d="M24.0279 59.2622V52.7931H30.4971V49.5585H24.0279V43.0894H20.7934V49.5585H14.3242V52.7931H20.7934V59.2622H24.0279Z" fill="white"/>
										<path d="M124.646 102.351V95.8814H131V92.6469H124.646V86.1777H121.296V92.6469H114.942V95.8814H121.296V102.351H124.646Z" fill="white"/>
										<path d="M96.5748 102.351V95.8814H103.044V92.6469H96.5748V86.1777H93.2247V92.6469H86.8711V95.8814H93.2247V102.351H96.5748Z" fill="white"/>
										<path d="M81.4417 87.9108V81.5572H87.9108V78.2071H81.4417V71.8535H78.2071V78.2071H71.8535V81.5572H78.2071V87.9108H81.4417Z" fill="white"/>
										<path d="M67.5797 102.351V95.8814H74.0488V92.6469H67.5797V86.1777H64.3451V92.6469H57.876V95.8814H64.3451V102.351H67.5797Z" fill="white"/>
										<path d="M38.6998 102.351V95.8814H45.0534V92.6469H38.6998V86.1777H35.3497V92.6469H28.9961V95.8814H35.3497V102.351H38.6998Z" fill="white"/>
										<path d="M52.7926 87.9108V81.5572H59.1462V78.2071H52.7926V71.8535H49.4425V78.2071H43.0889V81.5572H49.4425V87.9108H52.7926Z" fill="white"/>
										<path d="M9.7037 102.351V95.8814H16.0573V92.6469H9.7037V86.1777H6.35362V92.6469H0V95.8814H6.35362V102.351H9.7037Z" fill="white"/>
										<path d="M24.0279 87.9108V81.5572H30.4971V78.2071H24.0279V71.8535H20.7934V78.2071H14.3242V81.5572H20.7934V87.9108H24.0279Z" fill="white"/>
										<path d="M110.207 87.9108V81.5572H116.676V78.2071H110.207V71.8535H106.857V78.2071H100.503V81.5572H106.857V87.9108H110.207Z" fill="white"/>
										<path d="M124.646 131V124.646H131V121.296H124.646V114.942H121.296V121.296H114.942V124.646H121.296V131H124.646Z" fill="white"/>
										<path d="M95.8814 131V124.646H102.235V121.296H95.8814V114.942H92.5314V121.296H86.1777V124.646H92.5314V131H95.8814Z" fill="white"/>
										<path d="M110.207 116.675V110.322H116.676V106.972H110.207V100.618H106.857V106.972H100.503V110.322H106.857V116.675H110.207Z" fill="white"/>
										<path d="M67.1178 131V124.646H73.5869V121.296H67.1178V114.942H63.8832V121.296H57.4141V124.646H63.8832V131H67.1178Z" fill="white"/>
										<path d="M81.5572 116.675V110.322H87.9108V106.972H81.5572V100.618H78.2071V106.972H71.8535V110.322H78.2071V116.675H81.5572Z" fill="white"/>
										<path d="M38.4684 131V124.646H44.822V121.296H38.4684V114.942H35.1183V121.296H28.7646V124.646H35.1183V131H38.4684Z" fill="white"/>
										<path d="M52.7926 116.675V110.322H59.1462V106.972H52.7926V100.618H49.4425V106.972H43.0889V110.322H49.4425V116.675H52.7926Z" fill="white"/>
										<path d="M9.7037 131V124.646H16.0573V121.296H9.7037V114.942H6.35362V121.296H0V124.646H6.35362V131H9.7037Z" fill="white"/>
										<path d="M24.0279 116.675V110.322H30.4971V106.972H24.0279V100.618H20.7934V106.972H14.3242V110.322H20.7934V116.675H24.0279Z" fill="white"/>
									</svg>
								</div>
							</div>
						</div>
					</div>
				: type === 'brief' ? 
					<div class="heading__graphic">
						<div class="heading__graphic-item heading__graphic-item_ball" data-parallax data-parallax-orientation="up" data-parallax-scale="1.8">
							<span class="heading__graphic-ball"></span>
						</div>
						<div class="heading__graphic-item heading__graphic-item_points" data-parallax data-parallax-orientation="up" data-parallax-scale="1.6">
							<svg class="heading__graphic-points" width="99" height="99" viewBox="0 0 99 99" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.18233 3.5479C7.18233 5.53819 5.62471 7.09578 3.63443 7.09578C1.64415 7.09578 0 5.53819 0 3.5479C0 1.55762 1.55761 0 3.5479 0C5.53818 0 7.18233 1.55762 7.18233 3.5479Z" fill="#2C2C2C"/>
								<path d="M7.18233 26.3067C7.18233 28.297 5.62471 29.8546 3.63443 29.8546C1.64415 29.8546 0 28.297 0 26.3067C0 24.3164 1.55761 22.7588 3.5479 22.7588C5.53818 22.7588 7.18233 24.3164 7.18233 26.3067Z" fill="#2C2C2C"/>
								<path d="M7.09579 49.065C7.09579 51.0552 5.53818 52.6129 3.5479 52.6129C1.55761 52.6129 0 51.0552 0 49.065C0 47.0747 1.55761 45.5171 3.5479 45.5171C5.53818 45.5171 7.09579 47.0747 7.09579 49.065Z" fill="#2C2C2C"/>
								<path d="M7.09579 71.8231C7.09579 73.8134 5.53818 75.371 3.5479 75.371C1.55761 75.371 0 73.8134 0 71.8231C0 69.8329 1.55761 68.2752 3.5479 68.2752C5.53818 68.1887 7.09579 69.8329 7.09579 71.8231Z" fill="#2C2C2C"/>
								<path d="M7.09579 94.4951C7.09579 96.4854 5.53818 98.043 3.5479 98.043C1.55761 98.043 0 96.4854 0 94.4951C0 92.5049 1.55761 90.9473 3.5479 90.9473C5.53818 90.9473 7.09579 92.5914 7.09579 94.4951Z" fill="#2C2C2C"/>
								<path d="M29.8556 26.3067C29.8556 28.297 28.2979 29.8546 26.3077 29.8546C24.3174 29.8546 22.7598 28.297 22.7598 26.3067C22.7598 24.3164 24.3174 22.7588 26.3077 22.7588C28.2979 22.7588 29.8556 24.3164 29.8556 26.3067Z" fill="#2C2C2C"/>
								<path d="M29.8556 49.065C29.8556 51.0552 28.2979 52.6129 26.3077 52.6129C24.3174 52.6129 22.7598 51.0552 22.7598 49.065C22.7598 47.0747 24.3174 45.5171 26.3077 45.5171C28.2979 45.5171 29.8556 47.0747 29.8556 49.065Z" fill="#2C2C2C"/>
								<path d="M29.8556 71.8231C29.8556 73.8134 28.2979 75.371 26.3077 75.371C24.3174 75.371 22.7598 73.8134 22.7598 71.8231C22.7598 69.8329 24.3174 68.2752 26.3077 68.2752C28.2979 68.1887 29.8556 69.8329 29.8556 71.8231Z" fill="#2C2C2C"/>
								<path d="M29.8556 94.4951C29.8556 96.4854 28.2979 98.043 26.3077 98.043C24.3174 98.043 22.7598 96.4854 22.7598 94.4951C22.7598 92.5049 24.3174 90.9473 26.3077 90.9473C28.2979 90.9473 29.8556 92.5914 29.8556 94.4951Z" fill="#2C2C2C"/>
								<path d="M52.6134 26.3067C52.6134 28.297 51.0558 29.8546 49.0655 29.8546C47.0752 29.8546 45.5176 28.297 45.5176 26.3067C45.5176 24.3164 47.0752 22.7588 49.0655 22.7588C51.0558 22.7588 52.6134 24.3164 52.6134 26.3067Z" fill="#2C2C2C"/>
								<path d="M52.6134 49.065C52.6134 51.0552 51.0558 52.6129 49.0655 52.6129C47.0752 52.6129 45.5176 51.0552 45.5176 49.065C45.5176 47.0747 47.0752 45.5171 49.0655 45.5171C51.0558 45.5171 52.6134 47.0747 52.6134 49.065Z" fill="#2C2C2C"/>
								<path d="M52.6134 71.8231C52.6134 73.8134 51.0558 75.371 49.0655 75.371C47.0752 75.371 45.5176 73.8134 45.5176 71.8231C45.5176 69.8329 47.0752 68.2752 49.0655 68.2752C51.0558 68.1887 52.6134 69.8329 52.6134 71.8231Z" fill="#2C2C2C"/>
								<path d="M52.6134 94.4951C52.6134 96.4854 51.0558 98.043 49.0655 98.043C47.0752 98.043 45.5176 96.4854 45.5176 94.4951C45.5176 92.5049 47.0752 90.9473 49.0655 90.9473C51.0558 90.9473 52.6134 92.5914 52.6134 94.4951Z" fill="#2C2C2C"/>
								<path d="M75.3712 26.3067C75.3712 28.297 73.8136 29.8546 71.8233 29.8546C69.833 29.8546 68.2754 28.297 68.2754 26.3067C68.2754 24.3164 69.833 22.7588 71.8233 22.7588C73.8136 22.7588 75.3712 24.3164 75.3712 26.3067Z" fill="#2C2C2C"/>
								<path d="M75.3712 49.065C75.3712 51.0552 73.8136 52.6129 71.8233 52.6129C69.833 52.6129 68.2754 51.0552 68.2754 49.065C68.2754 47.0747 69.833 45.5171 71.8233 45.5171C73.8136 45.5171 75.3712 47.0747 75.3712 49.065Z" fill="#2C2C2C"/>
								<path d="M75.3712 71.8231C75.3712 73.8134 73.8136 75.371 71.8233 75.371C69.833 75.371 68.2754 73.8134 68.2754 71.8231C68.2754 69.8329 69.833 68.2752 71.8233 68.2752C73.8136 68.1887 75.3712 69.8329 75.3712 71.8231Z" fill="#2C2C2C"/>
								<path d="M75.3712 94.4951C75.3712 96.4854 73.8136 98.043 71.8233 98.043C69.833 98.043 68.2754 96.4854 68.2754 94.4951C68.2754 92.5049 69.833 90.9473 71.8233 90.9473C73.8136 90.9473 75.3712 92.5914 75.3712 94.4951Z" fill="#2C2C2C"/>
								<path d="M98.129 26.3067C98.129 28.297 96.5714 29.8546 94.5811 29.8546C92.5908 29.8546 91.0332 28.297 91.0332 26.3067C91.0332 24.3164 92.5908 22.7588 94.5811 22.7588C96.4849 22.7588 98.129 24.3164 98.129 26.3067Z" fill="#2C2C2C"/>
								<path d="M98.129 49.065C98.129 51.0552 96.5714 52.6129 94.5811 52.6129C92.5908 52.6129 91.0332 51.0552 91.0332 49.065C91.0332 47.0747 92.5908 45.5171 94.5811 45.5171C96.4849 45.5171 98.129 47.0747 98.129 49.065Z" fill="#2C2C2C"/>
								<path d="M98.129 71.8231C98.129 73.8134 96.5714 75.371 94.5811 75.371C92.5908 75.371 91.0332 73.8134 91.0332 71.8231C91.0332 69.8329 92.5908 68.2752 94.5811 68.2752C96.4849 68.1887 98.129 69.8329 98.129 71.8231Z" fill="#2C2C2C"/>
								<path d="M98.129 94.4951C98.129 96.4854 96.5714 98.043 94.5811 98.043C92.5908 98.043 91.0332 96.4854 91.0332 94.4951C91.0332 92.5049 92.5908 90.9473 94.5811 90.9473C96.4849 90.9473 98.129 92.5914 98.129 94.4951Z" fill="#2C2C2C"/>
								<path d="M29.8556 3.5479C29.8556 5.53819 28.2979 7.09578 26.3077 7.09578C24.3174 7.09578 22.7598 5.53819 22.7598 3.5479C22.7598 1.55762 24.3174 0 26.3077 0C28.2979 0 29.8556 1.55762 29.8556 3.5479Z" fill="#2C2C2C"/>
								<path d="M52.6134 3.5479C52.6134 5.53819 51.0558 7.09578 49.0655 7.09578C47.0752 7.09578 45.5176 5.53819 45.5176 3.5479C45.5176 1.55762 47.0752 0 49.0655 0C51.0558 0 52.6134 1.55762 52.6134 3.5479Z" fill="#2C2C2C"/>
								<path d="M75.3712 3.5479C75.3712 5.53819 73.8136 7.09578 71.8233 7.09578C69.833 7.09578 68.2754 5.53819 68.2754 3.5479C68.2754 1.55762 69.833 0 71.8233 0C73.8136 0 75.3712 1.55762 75.3712 3.5479Z" fill="#2C2C2C"/>
								<path d="M18.6056 14.9706C18.6056 16.9609 17.0479 18.5185 15.0577 18.5185C13.0674 18.5185 11.5098 16.9609 11.5098 14.9706C11.5098 12.9803 13.0674 11.4227 15.0577 11.4227C16.9614 11.3362 18.6056 12.9803 18.6056 14.9706Z" fill="#2C2C2C"/>
								<path d="M41.2774 14.9706C41.2774 16.9609 39.7198 18.5185 37.7295 18.5185C35.7393 18.5185 34.1816 16.9609 34.1816 14.9706C34.1816 12.9803 35.7393 11.4227 37.7295 11.4227C39.7198 11.3362 41.2774 12.9803 41.2774 14.9706Z" fill="#2C2C2C"/>
								<path d="M64.0352 14.9703C64.0352 16.9606 62.4776 18.5182 60.4873 18.5182C58.4971 18.5182 56.9395 16.9606 56.9395 14.9703C56.9395 12.98 58.4971 11.4224 60.4873 11.4224C62.4776 11.4224 64.0352 12.98 64.0352 14.9703Z" fill="#2C2C2C"/>
								<path d="M86.7071 14.9706C86.7071 16.9609 85.1495 18.5185 83.1592 18.5185C81.1689 18.5185 79.6113 16.9609 79.6113 14.9706C79.6113 12.9803 81.1689 11.4227 83.1592 11.4227C85.1495 11.3362 86.7071 12.9803 86.7071 14.9706Z" fill="#2C2C2C"/>
								<path d="M18.6056 37.6426C18.6056 39.6329 17.0479 41.1905 15.0577 41.1905C13.0674 41.1905 11.5098 39.6329 11.5098 37.6426C11.5098 35.6523 13.0674 34.0947 15.0577 34.0947C16.9614 34.0947 18.6056 35.7389 18.6056 37.6426Z" fill="#2C2C2C"/>
								<path d="M41.2774 37.6426C41.2774 39.6329 39.7198 41.1905 37.7295 41.1905C35.7393 41.1905 34.1816 39.6329 34.1816 37.6426C34.1816 35.6523 35.7393 34.0947 37.7295 34.0947C39.7198 34.0947 41.2774 35.7389 41.2774 37.6426Z" fill="#2C2C2C"/>
								<path d="M64.0352 37.6426C64.0352 39.6329 62.4776 41.1905 60.4873 41.1905C58.4971 41.1905 56.9395 39.6329 56.9395 37.6426C56.9395 35.6523 58.4971 34.0947 60.4873 34.0947C62.4776 34.0947 64.0352 35.7389 64.0352 37.6426Z" fill="#2C2C2C"/>
								<path d="M86.7071 37.6426C86.7071 39.6329 85.1495 41.1905 83.1592 41.1905C81.1689 41.1905 79.6113 39.6329 79.6113 37.6426C79.6113 35.6523 81.1689 34.0947 83.1592 34.0947C85.1495 34.0947 86.7071 35.7389 86.7071 37.6426Z" fill="#2C2C2C"/>
								<path d="M18.6056 60.4004C18.6056 62.3907 17.0479 63.9483 15.0577 63.9483C13.0674 63.9483 11.5098 62.3907 11.5098 60.4004C11.5098 58.4102 13.0674 56.8525 15.0577 56.8525C16.9614 56.8525 18.6056 58.4102 18.6056 60.4004Z" fill="#2C2C2C"/>
								<path d="M41.2774 60.4004C41.2774 62.3907 39.7198 63.9483 37.7295 63.9483C35.7393 63.9483 34.1816 62.3907 34.1816 60.4004C34.1816 58.4102 35.7393 56.8525 37.7295 56.8525C39.7198 56.8525 41.2774 58.4102 41.2774 60.4004Z" fill="#2C2C2C"/>
								<path d="M64.0352 60.4004C64.0352 62.3907 62.4776 63.9483 60.4873 63.9483C58.4971 63.9483 56.9395 62.3907 56.9395 60.4004C56.9395 58.4102 58.4971 56.8525 60.4873 56.8525C62.4776 56.8525 64.0352 58.4102 64.0352 60.4004Z" fill="#2C2C2C"/>
								<path d="M86.7071 60.4004C86.7071 62.3907 85.1495 63.9483 83.1592 63.9483C81.1689 63.9483 79.6113 62.3907 79.6113 60.4004C79.6113 58.4102 81.1689 56.8525 83.1592 56.8525C85.1495 56.8525 86.7071 58.4102 86.7071 60.4004Z" fill="#2C2C2C"/>
								<path d="M18.6056 83.1597C18.6056 85.15 17.0479 86.7076 15.0577 86.7076C13.0674 86.7076 11.5098 85.15 11.5098 83.1597C11.5098 81.1694 13.0674 79.6118 15.0577 79.6118C16.9614 79.6118 18.6056 81.1694 18.6056 83.1597Z" fill="#2C2C2C"/>
								<path d="M41.2774 83.1597C41.2774 85.15 39.7198 86.7076 37.7295 86.7076C35.7393 86.7076 34.1816 85.15 34.1816 83.1597C34.1816 81.1694 35.7393 79.6118 37.7295 79.6118C39.7198 79.6118 41.2774 81.1694 41.2774 83.1597Z" fill="#2C2C2C"/>
								<path d="M64.0352 83.1597C64.0352 85.15 62.4776 86.7076 60.4873 86.7076C58.4971 86.7076 56.9395 85.15 56.9395 83.1597C56.9395 81.1694 58.4971 79.6118 60.4873 79.6118C62.4776 79.6118 64.0352 81.1694 64.0352 83.1597Z" fill="#2C2C2C"/>
								<path d="M86.7071 83.1597C86.7071 85.15 85.1495 86.7076 83.1592 86.7076C81.1689 86.7076 79.6113 85.15 79.6113 83.1597C79.6113 81.1694 81.1689 79.6118 83.1592 79.6118C85.1495 79.6118 86.7071 81.1694 86.7071 83.1597Z" fill="#2C2C2C"/>
								<path d="M98.129 3.5479C98.129 5.53819 96.5714 7.09578 94.5811 7.09578C92.5908 7.09578 91.0332 5.53819 91.0332 3.5479C91.0332 1.55762 92.5908 0 94.5811 0C96.4849 0 98.129 1.55762 98.129 3.5479Z" fill="#2C2C2C"/>
							</svg>
						</div>
					</div>
					<div class="heading__content">
						<h1 class="heading__title heading__title_size_lg" set:html={title}></h1>
					</div>
				: type === 'blog' ?
					<div class="heading__graphic">
						<svg class="heading__graphic-spinners" xmlns="http://www.w3.org/2000/svg" width="157" height="158" viewBox="0 0 157 158" fill="none">
							<path d="M157 11.2243C157 4.98857 152.011 0 145.775 0V11.2243H157Z" fill="#FF4400"/>
							<path d="M134.553 11.2246C134.553 17.4603 139.541 22.4489 145.777 22.4489V11.2246H134.553Z" fill="#FF4400"/>
							<path d="M157 33.673C157 27.4373 152.011 22.4487 145.775 22.4487V33.673H157Z" fill="#FF4400"/>
							<path d="M134.553 33.6733C134.553 39.9091 139.541 44.8976 145.777 44.8976V33.6733H134.553Z" fill="#FF4400"/>
							<path d="M157 56.1217C157 49.886 152.011 44.8975 145.775 44.8975V56.1217H157Z" fill="#FF4400"/>
							<path d="M134.553 56.1221C134.553 62.3578 139.541 67.3464 145.777 67.3464V56.1221H134.553Z" fill="#FF4400"/>
							<path d="M157 78.57C157 72.3343 152.011 67.3457 145.775 67.3457V78.57H157Z" fill="#FF4400"/>
							<path d="M134.553 78.5703C134.553 84.806 139.541 89.7946 145.777 89.7946V78.5703H134.553Z" fill="#FF4400"/>
							<path d="M157 101.018C157 94.7825 152.011 89.7939 145.775 89.7939V101.018H157Z" fill="#FF4400"/>
							<path d="M134.553 101.019C134.553 107.254 139.541 112.243 145.777 112.243V101.019H134.553Z" fill="#FF4400"/>
							<path d="M157 123.467C157 117.231 152.011 112.243 145.775 112.243V123.467H157Z" fill="#FF4400"/>
							<path d="M134.553 123.467C134.553 129.703 139.541 134.692 145.777 134.692V123.467H134.553Z" fill="#FF4400"/>
							<path d="M134.552 11.2243C134.552 4.98857 129.564 0 123.328 0V11.2243H134.552Z" fill="#FF4400"/>
							<path d="M112.105 11.2246C112.105 17.4603 117.094 22.4489 123.33 22.4489V11.2246H112.105Z" fill="#FF4400"/>
							<path d="M134.552 33.673C134.552 27.4373 129.564 22.4487 123.328 22.4487V33.673H134.552Z" fill="#FF4400"/>
							<path d="M112.105 33.6729C112.105 39.9086 117.094 44.8971 123.33 44.8971V33.6729H112.105Z" fill="#FF4400"/>
							<path d="M134.552 56.1213C134.552 49.8855 129.564 44.897 123.328 44.897V56.1213H134.552Z" fill="#FF4400"/>
							<path d="M112.105 56.1216C112.105 62.3573 117.094 67.3459 123.33 67.3459V56.1216H112.105Z" fill="#FF4400"/>
							<path d="M134.552 78.57C134.552 72.3343 129.564 67.3457 123.328 67.3457V78.57H134.552Z" fill="#FF4400"/>
							<path d="M112.105 78.5698C112.105 84.8055 117.094 89.7941 123.33 89.7941V78.5698H112.105Z" fill="#FF4400"/>
							<path d="M134.552 101.018C134.552 94.7825 129.564 89.7939 123.328 89.7939V101.018H134.552Z" fill="#FF4400"/>
							<path d="M112.105 101.018C112.105 107.254 117.094 112.242 123.33 112.242V101.018H112.105Z" fill="#FF4400"/>
							<path d="M134.552 123.467C134.552 117.231 129.564 112.243 123.328 112.243V123.467H134.552Z" fill="#FF4400"/>
							<path d="M112.105 123.467C112.105 129.703 117.094 134.691 123.33 134.691V123.467H112.105Z" fill="#FF4400"/>
							<path d="M112.105 11.2243C112.105 4.98857 107.117 0 100.881 0V11.2243H112.105Z" fill="#FF4400"/>
							<path d="M89.7949 11.2246C89.7949 17.4603 94.7835 22.4489 101.019 22.4489V11.2246H89.7949Z" fill="#FF4400"/>
							<path d="M112.105 33.673C112.105 27.4373 107.117 22.4487 100.881 22.4487V33.673H112.105Z" fill="#FF4400"/>
							<path d="M89.7949 33.6733C89.7949 39.9091 94.7835 44.8976 101.019 44.8976V33.6733H89.7949Z" fill="#FF4400"/>
							<path d="M112.105 56.1213C112.105 49.8855 107.117 44.897 100.881 44.897V56.1213H112.105Z" fill="#FF4400"/>
							<path d="M89.7949 56.1221C89.7949 62.3578 94.7835 67.3464 101.019 67.3464V56.1221H89.7949Z" fill="#FF4400"/>
							<path d="M112.105 78.57C112.105 72.3343 107.117 67.3457 100.881 67.3457V78.57H112.105Z" fill="#FF4400"/>
							<path d="M89.7949 78.5703C89.7949 84.806 94.7835 89.7946 101.019 89.7946V78.5703H89.7949Z" fill="#FF4400"/>
							<path d="M112.105 101.018C112.105 94.7825 107.117 89.7939 100.881 89.7939V101.018H112.105Z" fill="#FF4400"/>
							<path d="M89.7949 101.019C89.7949 107.254 94.7835 112.243 101.019 112.243V101.019H89.7949Z" fill="#FF4400"/>
							<path d="M112.105 123.467C112.105 117.231 107.117 112.243 100.881 112.243V123.467H112.105Z" fill="#FF4400"/>
							<path d="M89.7949 123.467C89.7949 129.703 94.7835 134.692 101.019 134.692V123.467H89.7949Z" fill="#FF4400"/>
							<path d="M89.7927 11.2243C89.7927 4.98857 84.8041 0 78.5684 0V11.2243H89.7927Z" fill="#FF4400"/>
							<path d="M67.3457 11.2246C67.3457 17.4603 72.3343 22.4489 78.57 22.4489V11.2246H67.3457Z" fill="#FF4400"/>
							<path d="M89.7927 33.673C89.7927 27.4373 84.8041 22.4487 78.5684 22.4487V33.673H89.7927Z" fill="#FF4400"/>
							<path d="M67.3457 33.6729C67.3457 39.9086 72.3343 44.8971 78.57 44.8971V33.6729H67.3457Z" fill="#FF4400"/>
							<path d="M89.7927 56.1213C89.7927 49.8855 84.8041 44.897 78.5684 44.897V56.1213H89.7927Z" fill="#FF4400"/>
							<path d="M67.3457 56.1216C67.3457 62.3573 72.3343 67.3459 78.57 67.3459V56.1216H67.3457Z" fill="#FF4400"/>
							<path d="M89.7927 78.57C89.7927 72.3343 84.8041 67.3457 78.5684 67.3457V78.57H89.7927Z" fill="#FF4400"/>
							<path d="M67.3457 78.5698C67.3457 84.8055 72.3343 89.7941 78.57 89.7941V78.5698H67.3457Z" fill="#FF4400"/>
							<path d="M89.7927 101.018C89.7927 94.7825 84.8041 89.7939 78.5684 89.7939V101.018H89.7927Z" fill="#FF4400"/>
							<path d="M67.3457 101.018C67.3457 107.254 72.3343 112.242 78.57 112.242V101.018H67.3457Z" fill="#FF4400"/>
							<path d="M89.7927 123.467C89.7927 117.231 84.8041 112.243 78.5684 112.243V123.467H89.7927Z" fill="#FF4400"/>
							<path d="M67.3457 123.467C67.3457 129.703 72.3343 134.691 78.57 134.691V123.467H67.3457Z" fill="#FF4400"/>
							<path d="M67.3454 11.2243C67.3454 4.98857 62.3568 0 56.1211 0V11.2243H67.3454Z" fill="#FF4400"/>
							<path d="M44.8984 11.2246C44.8984 17.4603 49.887 22.4489 56.1227 22.4489V11.2246H44.8984Z" fill="#FF4400"/>
							<path d="M67.3454 33.673C67.3454 27.4373 62.3568 22.4487 56.1211 22.4487V33.673H67.3454Z" fill="#FF4400"/>
							<path d="M44.8984 33.6733C44.8984 39.9091 49.887 44.8976 56.1227 44.8976V33.6733H44.8984Z" fill="#FF4400"/>
							<path d="M67.3454 56.1217C67.3454 49.886 62.3568 44.8975 56.1211 44.8975V56.1217H67.3454Z" fill="#FF4400"/>
							<path d="M44.8984 56.1221C44.8984 62.3578 49.887 67.3464 56.1227 67.3464V56.1221H44.8984Z" fill="#FF4400"/>
							<path d="M67.3454 78.57C67.3454 72.3343 62.3568 67.3457 56.1211 67.3457V78.57H67.3454Z" fill="#FF4400"/>
							<path d="M44.8984 78.5703C44.8984 84.806 49.887 89.7946 56.1227 89.7946V78.5703H44.8984Z" fill="#FF4400"/>
							<path d="M67.3454 101.018C67.3454 94.7825 62.3568 89.7939 56.1211 89.7939V101.018H67.3454Z" fill="#FF4400"/>
							<path d="M44.8984 101.019C44.8984 107.254 49.887 112.243 56.1227 112.243V101.019H44.8984Z" fill="#FF4400"/>
							<path d="M67.3454 123.467C67.3454 117.231 62.3568 112.243 56.1211 112.243V123.467H67.3454Z" fill="#FF4400"/>
							<path d="M44.8984 123.467C44.8984 129.703 49.887 134.692 56.1227 134.692V123.467H44.8984Z" fill="#FF4400"/>
							<path d="M44.8962 11.2243C44.8962 4.98857 39.9076 0 33.6719 0V11.2243H44.8962Z" fill="#FF4400"/>
							<path d="M22.4492 11.2246C22.4492 17.4603 27.4378 22.4489 33.6735 22.4489V11.2246H22.4492Z" fill="#FF4400"/>
							<path d="M44.8962 33.673C44.8962 27.4373 39.9076 22.4487 33.6719 22.4487V33.673H44.8962Z" fill="#FF4400"/>
							<path d="M22.4492 33.6729C22.4492 39.9086 27.4378 44.8971 33.6735 44.8971V33.6729H22.4492Z" fill="#FF4400"/>
							<path d="M44.8962 56.1213C44.8962 49.8855 39.9076 44.897 33.6719 44.897V56.1213H44.8962Z" fill="#FF4400"/>
							<path d="M22.4492 56.1216C22.4492 62.3573 27.4378 67.3459 33.6735 67.3459V56.1216H22.4492Z" fill="#FF4400"/>
							<path d="M44.8962 78.57C44.8962 72.3343 39.9076 67.3457 33.6719 67.3457V78.57H44.8962Z" fill="#FF4400"/>
							<path d="M22.4492 78.5698C22.4492 84.8055 27.4378 89.7941 33.6735 89.7941V78.5698H22.4492Z" fill="#FF4400"/>
							<path d="M44.8962 101.018C44.8962 94.7825 39.9076 89.7939 33.6719 89.7939V101.018H44.8962Z" fill="#FF4400"/>
							<path d="M22.4492 101.018C22.4492 107.254 27.4378 112.242 33.6735 112.242V101.018H22.4492Z" fill="#FF4400"/>
							<path d="M44.8962 123.467C44.8962 117.231 39.9076 112.243 33.6719 112.243V123.467H44.8962Z" fill="#FF4400"/>
							<path d="M22.4492 123.467C22.4492 129.703 27.4378 134.691 33.6735 134.691V123.467H22.4492Z" fill="#FF4400"/>
							<path d="M22.447 11.2243C22.447 4.98857 17.4584 0 11.2227 0V11.2243H22.447Z" fill="#FF4400"/>
							<path d="M0 11.2246C0 17.4603 4.98854 22.4489 11.2243 22.4489V11.2246H0Z" fill="#FF4400"/>
							<path d="M22.447 33.673C22.447 27.4373 17.4584 22.4487 11.2227 22.4487V33.673H22.447Z" fill="#FF4400"/>
							<path d="M0 33.6733C0 39.9091 4.98854 44.8976 11.2243 44.8976V33.6733H0Z" fill="#FF4400"/>
							<path d="M22.447 56.1213C22.447 49.8855 17.4584 44.897 11.2227 44.897V56.1213H22.447Z" fill="#FF4400"/>
							<path d="M0 56.1221C0 62.3578 4.98854 67.3464 11.2243 67.3464V56.1221H0Z" fill="#FF4400"/>
							<path d="M22.447 78.57C22.447 72.3343 17.4584 67.3457 11.2227 67.3457V78.57H22.447Z" fill="#FF4400"/>
							<path d="M0 78.5703C0 84.806 4.98854 89.7946 11.2243 89.7946V78.5703H0Z" fill="#FF4400"/>
							<path d="M22.447 101.018C22.447 94.7825 17.4584 89.7939 11.2227 89.7939V101.018H22.447Z" fill="#FF4400"/>
							<path d="M0 101.019C0 107.254 4.98854 112.243 11.2243 112.243V101.019H0Z" fill="#FF4400"/>
							<path d="M22.447 123.467C22.447 117.231 17.4584 112.243 11.2227 112.243V123.467H22.447Z" fill="#FF4400"/>
							<path d="M0 123.467C0 129.703 4.98854 134.692 11.2243 134.692V123.467H0Z" fill="#FF4400"/>
							<path d="M157 145.916C157 139.68 152.011 134.692 145.775 134.692V145.916H157Z" fill="#FF4400"/>
							<path d="M134.553 145.917C134.553 152.152 139.541 157.141 145.777 157.141V145.917H134.553Z" fill="#FF4400"/>
							<path d="M134.552 145.916C134.552 139.68 129.564 134.692 123.328 134.692V145.916H134.552Z" fill="#FF4400"/>
							<path d="M112.105 145.916C112.105 152.152 117.094 157.14 123.33 157.14V145.916H112.105Z" fill="#FF4400"/>
							<path d="M112.105 145.916C112.105 139.68 107.117 134.692 100.881 134.692V145.916H112.105Z" fill="#FF4400"/>
							<path d="M89.7949 145.917C89.7949 152.152 94.7835 157.141 101.019 157.141V145.917H89.7949Z" fill="#FF4400"/>
							<path d="M89.7927 145.916C89.7927 139.68 84.8041 134.692 78.5684 134.692V145.916H89.7927Z" fill="#FF4400"/>
							<path d="M67.3457 145.916C67.3457 152.152 72.3343 157.14 78.57 157.14V145.916H67.3457Z" fill="#FF4400"/>
							<path d="M67.3454 145.916C67.3454 139.68 62.3568 134.692 56.1211 134.692V145.916H67.3454Z" fill="#FF4400"/>
							<path d="M44.8984 145.917C44.8984 152.152 49.887 157.141 56.1227 157.141V145.917H44.8984Z" fill="#FF4400"/>
							<path d="M44.8962 145.916C44.8962 139.68 39.9076 134.692 33.6719 134.692V145.916H44.8962Z" fill="#FF4400"/>
							<path d="M22.4492 145.916C22.4492 152.152 27.4378 157.14 33.6735 157.14V145.916H22.4492Z" fill="#FF4400"/>
							<path d="M22.447 145.916C22.447 139.68 17.4584 134.692 11.2227 134.692V145.916H22.447Z" fill="#FF4400"/>
							<path d="M0 145.917C0 152.152 4.98854 157.141 11.2243 157.141V145.917H0Z" fill="#FF4400"/>
						</svg>
					</div>
					<div class="heading__content">
						<h1 class="heading__title heading__title_size_lg">
							<Fragment set:html={title}></Fragment>
						</h1>
					</div>
				: type === 'article' ?
					<div class="heading__content">
						<h1 class="heading__title" set:html={title}></h1>
					</div>
					<div class="heading__image-box">
						<img class="heading__image" src="img/article/heading.jpg" srcset="img/article/heading@2x.jpg 2x" width="840" height="472" alt=""/>
						<div class="heading__graphic">
							<div class="heading__graphic-item heading__graphic-item_pixels" data-parallax data-parallax-orientation="down" data-parallax-scale="1.8">
								<svg class="heading__graphic-pixels" width="100" height="100" viewBox="0 0 121 122" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M121 81.333H80.667V121.666H121V81.333Z" fill="#FF4400"/>
									<path d="M121 0.666504H80.667V40.9997H121V0.666504Z" fill="#FF4400"/>
									<path d="M80.6663 40.9995H40.333V81.3328H80.6663V40.9995Z" fill="#FF4400"/>
									<path d="M40.3333 0.666504H0V40.9997H40.3333V0.666504Z" fill="#FF4400"/>
									<path d="M40.3333 81.333H0V121.666H40.3333V81.333Z" fill="#FF4400"/>
								</svg>
							</div>
							<div class="heading__graphic-item heading__graphic-item_rectangle"  data-parallax data-parallax-orientation="up" data-parallax-scale="1.9">
								<span class="heading__graphic-rectangle"></span>
							</div>
							<div class="heading__graphic-item heading__graphic-item_lines"  data-parallax data-parallax-orientation="up" data-parallax-scale="1.9">
								<svg class="heading__graphic-lines" xmlns="http://www.w3.org/2000/svg" width="89" height="51" viewBox="0 0 89 51" fill="none">
									<path d="M88.6152 3.9L88.6152 0L0.000274658 -3.54061e-06L0.000274472 3.9L88.6152 3.9Z" fill="white"/>
									<path d="M88.6152 11.6998L88.6152 7.7998L0.000274658 7.7998L0.000274472 11.6998L88.6152 11.6998Z" fill="white"/>
									<path d="M88.6152 19.4996L88.6152 15.5996L0.000274658 15.5996L0.000274472 19.4996L88.6152 19.4996Z" fill="white"/>
									<path d="M88.6152 27.4L88.6152 23.5L0.000274658 23.5L0.000274472 27.4L88.6152 27.4Z" fill="white"/>
									<path d="M88.6152 35.1998L88.6152 31.2998L0.000274658 31.2998L0.000274472 35.1998L88.6152 35.1998Z" fill="white"/>
									<path d="M88.6152 42.9996L88.6152 39.0996L0.000274658 39.0996L0.000274472 42.9996L88.6152 42.9996Z" fill="white"/>
									<path d="M88.6152 50.8004L88.6152 46.9004L0.000274658 46.9004L0.000274472 50.8004L88.6152 50.8004Z" fill="white"/>
								</svg>
							</div>
						</div>
					</div>
				: type === 'contacts' ?
					<div class="heading__graphic">
						<div class="heading__graphic-item heading__graphic-item_ball" data-parallax data-parallax-orientation="up" data-parallax-scale="1.8">
							<span class="heading__graphic-ball"></span>
						</div>
						<div class="heading__graphic-item heading__graphic-item_points" data-parallax data-parallax-orientation="up" data-parallax-scale="1.6">
							<svg class="heading__graphic-points" width="99" height="99" viewBox="0 0 99 99" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.18233 3.5479C7.18233 5.53819 5.62471 7.09578 3.63443 7.09578C1.64415 7.09578 0 5.53819 0 3.5479C0 1.55762 1.55761 0 3.5479 0C5.53818 0 7.18233 1.55762 7.18233 3.5479Z" fill="#2C2C2C"/>
								<path d="M7.18233 26.3067C7.18233 28.297 5.62471 29.8546 3.63443 29.8546C1.64415 29.8546 0 28.297 0 26.3067C0 24.3164 1.55761 22.7588 3.5479 22.7588C5.53818 22.7588 7.18233 24.3164 7.18233 26.3067Z" fill="#2C2C2C"/>
								<path d="M7.09579 49.065C7.09579 51.0552 5.53818 52.6129 3.5479 52.6129C1.55761 52.6129 0 51.0552 0 49.065C0 47.0747 1.55761 45.5171 3.5479 45.5171C5.53818 45.5171 7.09579 47.0747 7.09579 49.065Z" fill="#2C2C2C"/>
								<path d="M7.09579 71.8231C7.09579 73.8134 5.53818 75.371 3.5479 75.371C1.55761 75.371 0 73.8134 0 71.8231C0 69.8329 1.55761 68.2752 3.5479 68.2752C5.53818 68.1887 7.09579 69.8329 7.09579 71.8231Z" fill="#2C2C2C"/>
								<path d="M7.09579 94.4951C7.09579 96.4854 5.53818 98.043 3.5479 98.043C1.55761 98.043 0 96.4854 0 94.4951C0 92.5049 1.55761 90.9473 3.5479 90.9473C5.53818 90.9473 7.09579 92.5914 7.09579 94.4951Z" fill="#2C2C2C"/>
								<path d="M29.8556 26.3067C29.8556 28.297 28.2979 29.8546 26.3077 29.8546C24.3174 29.8546 22.7598 28.297 22.7598 26.3067C22.7598 24.3164 24.3174 22.7588 26.3077 22.7588C28.2979 22.7588 29.8556 24.3164 29.8556 26.3067Z" fill="#2C2C2C"/>
								<path d="M29.8556 49.065C29.8556 51.0552 28.2979 52.6129 26.3077 52.6129C24.3174 52.6129 22.7598 51.0552 22.7598 49.065C22.7598 47.0747 24.3174 45.5171 26.3077 45.5171C28.2979 45.5171 29.8556 47.0747 29.8556 49.065Z" fill="#2C2C2C"/>
								<path d="M29.8556 71.8231C29.8556 73.8134 28.2979 75.371 26.3077 75.371C24.3174 75.371 22.7598 73.8134 22.7598 71.8231C22.7598 69.8329 24.3174 68.2752 26.3077 68.2752C28.2979 68.1887 29.8556 69.8329 29.8556 71.8231Z" fill="#2C2C2C"/>
								<path d="M29.8556 94.4951C29.8556 96.4854 28.2979 98.043 26.3077 98.043C24.3174 98.043 22.7598 96.4854 22.7598 94.4951C22.7598 92.5049 24.3174 90.9473 26.3077 90.9473C28.2979 90.9473 29.8556 92.5914 29.8556 94.4951Z" fill="#2C2C2C"/>
								<path d="M52.6134 26.3067C52.6134 28.297 51.0558 29.8546 49.0655 29.8546C47.0752 29.8546 45.5176 28.297 45.5176 26.3067C45.5176 24.3164 47.0752 22.7588 49.0655 22.7588C51.0558 22.7588 52.6134 24.3164 52.6134 26.3067Z" fill="#2C2C2C"/>
								<path d="M52.6134 49.065C52.6134 51.0552 51.0558 52.6129 49.0655 52.6129C47.0752 52.6129 45.5176 51.0552 45.5176 49.065C45.5176 47.0747 47.0752 45.5171 49.0655 45.5171C51.0558 45.5171 52.6134 47.0747 52.6134 49.065Z" fill="#2C2C2C"/>
								<path d="M52.6134 71.8231C52.6134 73.8134 51.0558 75.371 49.0655 75.371C47.0752 75.371 45.5176 73.8134 45.5176 71.8231C45.5176 69.8329 47.0752 68.2752 49.0655 68.2752C51.0558 68.1887 52.6134 69.8329 52.6134 71.8231Z" fill="#2C2C2C"/>
								<path d="M52.6134 94.4951C52.6134 96.4854 51.0558 98.043 49.0655 98.043C47.0752 98.043 45.5176 96.4854 45.5176 94.4951C45.5176 92.5049 47.0752 90.9473 49.0655 90.9473C51.0558 90.9473 52.6134 92.5914 52.6134 94.4951Z" fill="#2C2C2C"/>
								<path d="M75.3712 26.3067C75.3712 28.297 73.8136 29.8546 71.8233 29.8546C69.833 29.8546 68.2754 28.297 68.2754 26.3067C68.2754 24.3164 69.833 22.7588 71.8233 22.7588C73.8136 22.7588 75.3712 24.3164 75.3712 26.3067Z" fill="#2C2C2C"/>
								<path d="M75.3712 49.065C75.3712 51.0552 73.8136 52.6129 71.8233 52.6129C69.833 52.6129 68.2754 51.0552 68.2754 49.065C68.2754 47.0747 69.833 45.5171 71.8233 45.5171C73.8136 45.5171 75.3712 47.0747 75.3712 49.065Z" fill="#2C2C2C"/>
								<path d="M75.3712 71.8231C75.3712 73.8134 73.8136 75.371 71.8233 75.371C69.833 75.371 68.2754 73.8134 68.2754 71.8231C68.2754 69.8329 69.833 68.2752 71.8233 68.2752C73.8136 68.1887 75.3712 69.8329 75.3712 71.8231Z" fill="#2C2C2C"/>
								<path d="M75.3712 94.4951C75.3712 96.4854 73.8136 98.043 71.8233 98.043C69.833 98.043 68.2754 96.4854 68.2754 94.4951C68.2754 92.5049 69.833 90.9473 71.8233 90.9473C73.8136 90.9473 75.3712 92.5914 75.3712 94.4951Z" fill="#2C2C2C"/>
								<path d="M98.129 26.3067C98.129 28.297 96.5714 29.8546 94.5811 29.8546C92.5908 29.8546 91.0332 28.297 91.0332 26.3067C91.0332 24.3164 92.5908 22.7588 94.5811 22.7588C96.4849 22.7588 98.129 24.3164 98.129 26.3067Z" fill="#2C2C2C"/>
								<path d="M98.129 49.065C98.129 51.0552 96.5714 52.6129 94.5811 52.6129C92.5908 52.6129 91.0332 51.0552 91.0332 49.065C91.0332 47.0747 92.5908 45.5171 94.5811 45.5171C96.4849 45.5171 98.129 47.0747 98.129 49.065Z" fill="#2C2C2C"/>
								<path d="M98.129 71.8231C98.129 73.8134 96.5714 75.371 94.5811 75.371C92.5908 75.371 91.0332 73.8134 91.0332 71.8231C91.0332 69.8329 92.5908 68.2752 94.5811 68.2752C96.4849 68.1887 98.129 69.8329 98.129 71.8231Z" fill="#2C2C2C"/>
								<path d="M98.129 94.4951C98.129 96.4854 96.5714 98.043 94.5811 98.043C92.5908 98.043 91.0332 96.4854 91.0332 94.4951C91.0332 92.5049 92.5908 90.9473 94.5811 90.9473C96.4849 90.9473 98.129 92.5914 98.129 94.4951Z" fill="#2C2C2C"/>
								<path d="M29.8556 3.5479C29.8556 5.53819 28.2979 7.09578 26.3077 7.09578C24.3174 7.09578 22.7598 5.53819 22.7598 3.5479C22.7598 1.55762 24.3174 0 26.3077 0C28.2979 0 29.8556 1.55762 29.8556 3.5479Z" fill="#2C2C2C"/>
								<path d="M52.6134 3.5479C52.6134 5.53819 51.0558 7.09578 49.0655 7.09578C47.0752 7.09578 45.5176 5.53819 45.5176 3.5479C45.5176 1.55762 47.0752 0 49.0655 0C51.0558 0 52.6134 1.55762 52.6134 3.5479Z" fill="#2C2C2C"/>
								<path d="M75.3712 3.5479C75.3712 5.53819 73.8136 7.09578 71.8233 7.09578C69.833 7.09578 68.2754 5.53819 68.2754 3.5479C68.2754 1.55762 69.833 0 71.8233 0C73.8136 0 75.3712 1.55762 75.3712 3.5479Z" fill="#2C2C2C"/>
								<path d="M18.6056 14.9706C18.6056 16.9609 17.0479 18.5185 15.0577 18.5185C13.0674 18.5185 11.5098 16.9609 11.5098 14.9706C11.5098 12.9803 13.0674 11.4227 15.0577 11.4227C16.9614 11.3362 18.6056 12.9803 18.6056 14.9706Z" fill="#2C2C2C"/>
								<path d="M41.2774 14.9706C41.2774 16.9609 39.7198 18.5185 37.7295 18.5185C35.7393 18.5185 34.1816 16.9609 34.1816 14.9706C34.1816 12.9803 35.7393 11.4227 37.7295 11.4227C39.7198 11.3362 41.2774 12.9803 41.2774 14.9706Z" fill="#2C2C2C"/>
								<path d="M64.0352 14.9703C64.0352 16.9606 62.4776 18.5182 60.4873 18.5182C58.4971 18.5182 56.9395 16.9606 56.9395 14.9703C56.9395 12.98 58.4971 11.4224 60.4873 11.4224C62.4776 11.4224 64.0352 12.98 64.0352 14.9703Z" fill="#2C2C2C"/>
								<path d="M86.7071 14.9706C86.7071 16.9609 85.1495 18.5185 83.1592 18.5185C81.1689 18.5185 79.6113 16.9609 79.6113 14.9706C79.6113 12.9803 81.1689 11.4227 83.1592 11.4227C85.1495 11.3362 86.7071 12.9803 86.7071 14.9706Z" fill="#2C2C2C"/>
								<path d="M18.6056 37.6426C18.6056 39.6329 17.0479 41.1905 15.0577 41.1905C13.0674 41.1905 11.5098 39.6329 11.5098 37.6426C11.5098 35.6523 13.0674 34.0947 15.0577 34.0947C16.9614 34.0947 18.6056 35.7389 18.6056 37.6426Z" fill="#2C2C2C"/>
								<path d="M41.2774 37.6426C41.2774 39.6329 39.7198 41.1905 37.7295 41.1905C35.7393 41.1905 34.1816 39.6329 34.1816 37.6426C34.1816 35.6523 35.7393 34.0947 37.7295 34.0947C39.7198 34.0947 41.2774 35.7389 41.2774 37.6426Z" fill="#2C2C2C"/>
								<path d="M64.0352 37.6426C64.0352 39.6329 62.4776 41.1905 60.4873 41.1905C58.4971 41.1905 56.9395 39.6329 56.9395 37.6426C56.9395 35.6523 58.4971 34.0947 60.4873 34.0947C62.4776 34.0947 64.0352 35.7389 64.0352 37.6426Z" fill="#2C2C2C"/>
								<path d="M86.7071 37.6426C86.7071 39.6329 85.1495 41.1905 83.1592 41.1905C81.1689 41.1905 79.6113 39.6329 79.6113 37.6426C79.6113 35.6523 81.1689 34.0947 83.1592 34.0947C85.1495 34.0947 86.7071 35.7389 86.7071 37.6426Z" fill="#2C2C2C"/>
								<path d="M18.6056 60.4004C18.6056 62.3907 17.0479 63.9483 15.0577 63.9483C13.0674 63.9483 11.5098 62.3907 11.5098 60.4004C11.5098 58.4102 13.0674 56.8525 15.0577 56.8525C16.9614 56.8525 18.6056 58.4102 18.6056 60.4004Z" fill="#2C2C2C"/>
								<path d="M41.2774 60.4004C41.2774 62.3907 39.7198 63.9483 37.7295 63.9483C35.7393 63.9483 34.1816 62.3907 34.1816 60.4004C34.1816 58.4102 35.7393 56.8525 37.7295 56.8525C39.7198 56.8525 41.2774 58.4102 41.2774 60.4004Z" fill="#2C2C2C"/>
								<path d="M64.0352 60.4004C64.0352 62.3907 62.4776 63.9483 60.4873 63.9483C58.4971 63.9483 56.9395 62.3907 56.9395 60.4004C56.9395 58.4102 58.4971 56.8525 60.4873 56.8525C62.4776 56.8525 64.0352 58.4102 64.0352 60.4004Z" fill="#2C2C2C"/>
								<path d="M86.7071 60.4004C86.7071 62.3907 85.1495 63.9483 83.1592 63.9483C81.1689 63.9483 79.6113 62.3907 79.6113 60.4004C79.6113 58.4102 81.1689 56.8525 83.1592 56.8525C85.1495 56.8525 86.7071 58.4102 86.7071 60.4004Z" fill="#2C2C2C"/>
								<path d="M18.6056 83.1597C18.6056 85.15 17.0479 86.7076 15.0577 86.7076C13.0674 86.7076 11.5098 85.15 11.5098 83.1597C11.5098 81.1694 13.0674 79.6118 15.0577 79.6118C16.9614 79.6118 18.6056 81.1694 18.6056 83.1597Z" fill="#2C2C2C"/>
								<path d="M41.2774 83.1597C41.2774 85.15 39.7198 86.7076 37.7295 86.7076C35.7393 86.7076 34.1816 85.15 34.1816 83.1597C34.1816 81.1694 35.7393 79.6118 37.7295 79.6118C39.7198 79.6118 41.2774 81.1694 41.2774 83.1597Z" fill="#2C2C2C"/>
								<path d="M64.0352 83.1597C64.0352 85.15 62.4776 86.7076 60.4873 86.7076C58.4971 86.7076 56.9395 85.15 56.9395 83.1597C56.9395 81.1694 58.4971 79.6118 60.4873 79.6118C62.4776 79.6118 64.0352 81.1694 64.0352 83.1597Z" fill="#2C2C2C"/>
								<path d="M86.7071 83.1597C86.7071 85.15 85.1495 86.7076 83.1592 86.7076C81.1689 86.7076 79.6113 85.15 79.6113 83.1597C79.6113 81.1694 81.1689 79.6118 83.1592 79.6118C85.1495 79.6118 86.7071 81.1694 86.7071 83.1597Z" fill="#2C2C2C"/>
								<path d="M98.129 3.5479C98.129 5.53819 96.5714 7.09578 94.5811 7.09578C92.5908 7.09578 91.0332 5.53819 91.0332 3.5479C91.0332 1.55762 92.5908 0 94.5811 0C96.4849 0 98.129 1.55762 98.129 3.5479Z" fill="#2C2C2C"/>
							</svg>
						</div>
					</div>
					<div class="heading__content">
						<h1 class="heading__title heading__title_size_lg" set:html={title}></h1>
					</div>
				: type === 'awards' ?
					<div class="heading__content">
						<h1 class="heading__title heading__title_size_lg" set:html={title}></h1>
						<TabMenu class="heading__tab-menu" classItem="js-awards-tab-item" style="second" list={['Лента', 'Каталог']}></TabMenu>
					</div>
				: type === 'vacancies' ?
					<div class="heading__graphic">
						<div class="heading__graphic-item heading__graphic-item_points" data-parallax data-parallax-orientation="up" data-parallax-scale="1.6">
							<svg class="heading__graphic-points" width="172" height="172" viewBox="0 0 172 172" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M12.5301 6.18957C12.5301 9.66176 9.81271 12.3791 6.34052 12.3791C2.86833 12.3791 0 9.66176 0 6.18957C0 2.71738 2.71737 0 6.18956 0C9.66175 0 12.5301 2.71738 12.5301 6.18957Z" fill="#FF4400"/>
								<path d="M12.5301 45.8937C12.5301 49.3659 9.81271 52.0832 6.34052 52.0832C2.86833 52.0832 0 49.3659 0 45.8937C0 42.4215 2.71737 39.7041 6.18956 39.7041C9.66175 39.7041 12.5301 42.4215 12.5301 45.8937Z" fill="#FF4400"/>
								<path d="M12.3791 85.5972C12.3791 89.0694 9.66175 91.7868 6.18956 91.7868C2.71737 91.7868 0 89.0694 0 85.5972C0 82.125 2.71737 79.4077 6.18956 79.4077C9.66175 79.4077 12.3791 82.125 12.3791 85.5972Z" fill="#FF4400"/>
								<path d="M12.3791 125.3C12.3791 128.772 9.66175 131.49 6.18956 131.49C2.71737 131.49 0 128.772 0 125.3C0 121.828 2.71737 119.111 6.18956 119.111C9.66175 118.96 12.3791 121.828 12.3791 125.3Z" fill="#FF4400"/>
								<path d="M12.3791 164.854C12.3791 168.326 9.66175 171.043 6.18956 171.043C2.71737 171.043 0 168.326 0 164.854C0 161.381 2.71737 158.664 6.18956 158.664C9.66175 158.664 12.3791 161.532 12.3791 164.854Z" fill="#FF4400"/>
								<path d="M52.0842 45.8937C52.0842 49.3659 49.3668 52.0832 45.8946 52.0832C42.4224 52.0832 39.7051 49.3659 39.7051 45.8937C39.7051 42.4215 42.4224 39.7041 45.8946 39.7041C49.3668 39.7041 52.0842 42.4215 52.0842 45.8937Z" fill="#FF4400"/>
								<path d="M52.0842 85.5972C52.0842 89.0694 49.3668 91.7868 45.8946 91.7868C42.4224 91.7868 39.7051 89.0694 39.7051 85.5972C39.7051 82.125 42.4224 79.4077 45.8946 79.4077C49.3668 79.4077 52.0842 82.125 52.0842 85.5972Z" fill="#FF4400"/>
								<path d="M52.0842 125.3C52.0842 128.772 49.3668 131.49 45.8946 131.49C42.4224 131.49 39.7051 128.772 39.7051 125.3C39.7051 121.828 42.4224 119.111 45.8946 119.111C49.3668 118.96 52.0842 121.828 52.0842 125.3Z" fill="#FF4400"/>
								<path d="M52.0842 164.854C52.0842 168.326 49.3668 171.043 45.8946 171.043C42.4224 171.043 39.7051 168.326 39.7051 164.854C39.7051 161.381 42.4224 158.664 45.8946 158.664C49.3668 158.664 52.0842 161.532 52.0842 164.854Z" fill="#FF4400"/>
								<path d="M91.7873 45.8937C91.7873 49.3659 89.07 52.0832 85.5978 52.0832C82.1256 52.0832 79.4082 49.3659 79.4082 45.8937C79.4082 42.4215 82.1256 39.7041 85.5978 39.7041C89.07 39.7041 91.7873 42.4215 91.7873 45.8937Z" fill="#FF4400"/>
								<path d="M91.7873 85.5972C91.7873 89.0694 89.07 91.7868 85.5978 91.7868C82.1256 91.7868 79.4082 89.0694 79.4082 85.5972C79.4082 82.125 82.1256 79.4077 85.5978 79.4077C89.07 79.4077 91.7873 82.125 91.7873 85.5972Z" fill="#FF4400"/>
								<path d="M91.7873 125.3C91.7873 128.772 89.07 131.49 85.5978 131.49C82.1256 131.49 79.4082 128.772 79.4082 125.3C79.4082 121.828 82.1256 119.111 85.5978 119.111C89.07 118.96 91.7873 121.828 91.7873 125.3Z" fill="#FF4400"/>
								<path d="M91.7873 164.854C91.7873 168.326 89.07 171.043 85.5978 171.043C82.1256 171.043 79.4082 168.326 79.4082 164.854C79.4082 161.381 82.1256 158.664 85.5978 158.664C89.07 158.664 91.7873 161.532 91.7873 164.854Z" fill="#FF4400"/>
								<path d="M131.49 45.8937C131.49 49.3659 128.773 52.0832 125.301 52.0832C121.829 52.0832 119.111 49.3659 119.111 45.8937C119.111 42.4215 121.829 39.7041 125.301 39.7041C128.773 39.7041 131.49 42.4215 131.49 45.8937Z" fill="#FF4400"/>
								<path d="M131.49 85.5972C131.49 89.0694 128.773 91.7868 125.301 91.7868C121.829 91.7868 119.111 89.0694 119.111 85.5972C119.111 82.125 121.829 79.4077 125.301 79.4077C128.773 79.4077 131.49 82.125 131.49 85.5972Z" fill="#FF4400"/>
								<path d="M131.49 125.3C131.49 128.772 128.773 131.49 125.301 131.49C121.829 131.49 119.111 128.772 119.111 125.3C119.111 121.828 121.829 119.111 125.301 119.111C128.773 118.96 131.49 121.828 131.49 125.3Z" fill="#FF4400"/>
								<path d="M131.49 164.854C131.49 168.326 128.773 171.043 125.301 171.043C121.829 171.043 119.111 168.326 119.111 164.854C119.111 161.381 121.829 158.664 125.301 158.664C128.773 158.664 131.49 161.532 131.49 164.854Z" fill="#FF4400"/>
								<path d="M171.194 45.8937C171.194 49.3659 168.476 52.0832 165.004 52.0832C161.532 52.0832 158.814 49.3659 158.814 45.8937C158.814 42.4215 161.532 39.7041 165.004 39.7041C168.325 39.7041 171.194 42.4215 171.194 45.8937Z" fill="#FF4400"/>
								<path d="M171.194 85.5972C171.194 89.0694 168.476 91.7868 165.004 91.7868C161.532 91.7868 158.814 89.0694 158.814 85.5972C158.814 82.125 161.532 79.4077 165.004 79.4077C168.325 79.4077 171.194 82.125 171.194 85.5972Z" fill="#FF4400"/>
								<path d="M171.194 125.3C171.194 128.772 168.476 131.49 165.004 131.49C161.532 131.49 158.814 128.772 158.814 125.3C158.814 121.828 161.532 119.111 165.004 119.111C168.325 118.96 171.194 121.828 171.194 125.3Z" fill="#FF4400"/>
								<path d="M171.194 164.854C171.194 168.326 168.476 171.043 165.004 171.043C161.532 171.043 158.814 168.326 158.814 164.854C158.814 161.381 161.532 158.664 165.004 158.664C168.325 158.664 171.194 161.532 171.194 164.854Z" fill="#FF4400"/>
								<path d="M52.0842 6.18957C52.0842 9.66176 49.3668 12.3791 45.8946 12.3791C42.4224 12.3791 39.7051 9.66176 39.7051 6.18957C39.7051 2.71738 42.4224 0 45.8946 0C49.3668 0 52.0842 2.71738 52.0842 6.18957Z" fill="#FF4400"/>
								<path d="M91.7873 6.18957C91.7873 9.66176 89.07 12.3791 85.5978 12.3791C82.1256 12.3791 79.4082 9.66176 79.4082 6.18957C79.4082 2.71738 82.1256 0 85.5978 0C89.07 0 91.7873 2.71738 91.7873 6.18957Z" fill="#FF4400"/>
								<path d="M131.49 6.18957C131.49 9.66176 128.773 12.3791 125.301 12.3791C121.829 12.3791 119.111 9.66176 119.111 6.18957C119.111 2.71738 121.829 0 125.301 0C128.773 0 131.49 2.71738 131.49 6.18957Z" fill="#FF4400"/>
								<path d="M32.4572 26.1176C32.4572 29.5898 29.7399 32.3072 26.2677 32.3072C22.7955 32.3072 20.0781 29.5898 20.0781 26.1176C20.0781 22.6454 22.7955 19.9281 26.2677 19.9281C29.5889 19.7771 32.4572 22.6454 32.4572 26.1176Z" fill="#FF4400"/>
								<path d="M72.01 26.1176C72.01 29.5898 69.2926 32.3072 65.8204 32.3072C62.3482 32.3072 59.6309 29.5898 59.6309 26.1176C59.6309 22.6454 62.3482 19.9281 65.8204 19.9281C69.2926 19.7771 72.01 22.6454 72.01 26.1176Z" fill="#FF4400"/>
								<path d="M111.715 26.1168C111.715 29.589 108.998 32.3064 105.525 32.3064C102.053 32.3064 99.3359 29.589 99.3359 26.1168C99.3359 22.6446 102.053 19.9272 105.525 19.9272C108.998 19.9272 111.715 22.6446 111.715 26.1168Z" fill="#FF4400"/>
								<path d="M151.268 26.1176C151.268 29.5898 148.55 32.3072 145.078 32.3072C141.606 32.3072 138.889 29.5898 138.889 26.1176C138.889 22.6454 141.606 19.9281 145.078 19.9281C148.55 19.7771 151.268 22.6454 151.268 26.1176Z" fill="#FF4400"/>
								<path d="M32.4572 65.67C32.4572 69.1422 29.7399 71.8596 26.2677 71.8596C22.7955 71.8596 20.0781 69.1422 20.0781 65.67C20.0781 62.1978 22.7955 59.4805 26.2677 59.4805C29.5889 59.4805 32.4572 62.3488 32.4572 65.67Z" fill="#FF4400"/>
								<path d="M72.01 65.67C72.01 69.1422 69.2926 71.8596 65.8204 71.8596C62.3482 71.8596 59.6309 69.1422 59.6309 65.67C59.6309 62.1978 62.3482 59.4805 65.8204 59.4805C69.2926 59.4805 72.01 62.3488 72.01 65.67Z" fill="#FF4400"/>
								<path d="M111.715 65.67C111.715 69.1422 108.998 71.8596 105.525 71.8596C102.053 71.8596 99.3359 69.1422 99.3359 65.67C99.3359 62.1978 102.053 59.4805 105.525 59.4805C108.998 59.4805 111.715 62.3488 111.715 65.67Z" fill="#FF4400"/>
								<path d="M151.268 65.67C151.268 69.1422 148.55 71.8596 145.078 71.8596C141.606 71.8596 138.889 69.1422 138.889 65.67C138.889 62.1978 141.606 59.4805 145.078 59.4805C148.55 59.4805 151.268 62.3488 151.268 65.67Z" fill="#FF4400"/>
								<path d="M32.4572 105.373C32.4572 108.845 29.7399 111.563 26.2677 111.563C22.7955 111.563 20.0781 108.845 20.0781 105.373C20.0781 101.901 22.7955 99.1836 26.2677 99.1836C29.5889 99.1836 32.4572 101.901 32.4572 105.373Z" fill="#FF4400"/>
								<path d="M72.01 105.373C72.01 108.845 69.2926 111.563 65.8204 111.563C62.3482 111.563 59.6309 108.845 59.6309 105.373C59.6309 101.901 62.3482 99.1836 65.8204 99.1836C69.2926 99.1836 72.01 101.901 72.01 105.373Z" fill="#FF4400"/>
								<path d="M111.715 105.373C111.715 108.845 108.998 111.563 105.525 111.563C102.053 111.563 99.3359 108.845 99.3359 105.373C99.3359 101.901 102.053 99.1836 105.525 99.1836C108.998 99.1836 111.715 101.901 111.715 105.373Z" fill="#FF4400"/>
								<path d="M151.268 105.373C151.268 108.845 148.55 111.563 145.078 111.563C141.606 111.563 138.889 108.845 138.889 105.373C138.889 101.901 141.606 99.1836 145.078 99.1836C148.55 99.1836 151.268 101.901 151.268 105.373Z" fill="#FF4400"/>
								<path d="M32.4572 145.078C32.4572 148.55 29.7399 151.267 26.2677 151.267C22.7955 151.267 20.0781 148.55 20.0781 145.078C20.0781 141.606 22.7955 138.888 26.2677 138.888C29.5889 138.888 32.4572 141.606 32.4572 145.078Z" fill="#FF4400"/>
								<path d="M72.01 145.078C72.01 148.55 69.2926 151.267 65.8204 151.267C62.3482 151.267 59.6309 148.55 59.6309 145.078C59.6309 141.606 62.3482 138.888 65.8204 138.888C69.2926 138.888 72.01 141.606 72.01 145.078Z" fill="#FF4400"/>
								<path d="M111.715 145.078C111.715 148.55 108.998 151.267 105.525 151.267C102.053 151.267 99.3359 148.55 99.3359 145.078C99.3359 141.606 102.053 138.888 105.525 138.888C108.998 138.888 111.715 141.606 111.715 145.078Z" fill="#FF4400"/>
								<path d="M151.268 145.078C151.268 148.55 148.55 151.267 145.078 151.267C141.606 151.267 138.889 148.55 138.889 145.078C138.889 141.606 141.606 138.888 145.078 138.888C148.55 138.888 151.268 141.606 151.268 145.078Z" fill="#FF4400"/>
								<path d="M171.194 6.18957C171.194 9.66176 168.476 12.3791 165.004 12.3791C161.532 12.3791 158.814 9.66176 158.814 6.18957C158.814 2.71738 161.532 0 165.004 0C168.325 0 171.194 2.71738 171.194 6.18957Z" fill="#FF4400"/>
								</svg>

						</div>
					</div>
					<div class="heading__content">
						<h1 class="heading__title heading__title_size_lg" set:html={title}></h1>
					</div>
				: type === '404' ?
					<div class="heading__image-box">
						<img class="heading__image" src="img/404-image.jpg" srcset="img/404-image@2x.jpg 2x" width="508" height="337" alt=""/>
						<div class="heading__graphic">
							<div class="heading__graphic-item heading__graphic-item_points" data-parallax data-parallax-orientation="up" data-parallax-scale="1.6">
								<svg class="heading__graphic-points" width="248" height="248" viewBox="0 0 248 248" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.1516 8.96646C18.1516 13.9964 14.2151 17.9328 9.18514 17.9328C4.15518 17.9328 0 13.9964 0 8.96646C0 3.9365 3.93649 0 8.96644 0C13.9964 0 18.1516 3.9365 18.1516 8.96646Z" fill="#F4F4F4"/>
									<path d="M18.1516 66.4831C18.1516 71.513 14.2151 75.4495 9.18514 75.4495C4.15518 75.4495 0 71.513 0 66.4831C0 61.4531 3.93649 57.5166 8.96644 57.5166C13.9964 57.5166 18.1516 61.4531 18.1516 66.4831Z" fill="#F4F4F4"/>
									<path d="M17.9329 124C17.9329 129.03 13.9964 132.967 8.96644 132.967C3.93649 132.967 0 129.03 0 124C0 118.97 3.93649 115.034 8.96644 115.034C13.9964 115.034 17.9329 118.97 17.9329 124Z" fill="#F4F4F4"/>
									<path d="M17.9329 181.515C17.9329 186.545 13.9964 190.482 8.96644 190.482C3.93649 190.482 0 186.545 0 181.515C0 176.485 3.93649 172.549 8.96644 172.549C13.9964 172.33 17.9329 176.485 17.9329 181.515Z" fill="#F4F4F4"/>
									<path d="M17.9329 238.813C17.9329 243.843 13.9964 247.78 8.96644 247.78C3.93649 247.78 0 243.843 0 238.813C0 233.783 3.93649 229.847 8.96644 229.847C13.9964 229.847 17.9329 234.002 17.9329 238.813Z" fill="#F4F4F4"/>
									<path d="M75.4485 66.4831C75.4485 71.513 71.512 75.4495 66.4821 75.4495C61.4521 75.4495 57.5156 71.513 57.5156 66.4831C57.5156 61.4531 61.4521 57.5166 66.4821 57.5166C71.512 57.5166 75.4485 61.4531 75.4485 66.4831Z" fill="#F4F4F4"/>
									<path d="M75.4485 124C75.4485 129.03 71.512 132.967 66.4821 132.967C61.4521 132.967 57.5156 129.03 57.5156 124C57.5156 118.97 61.4521 115.034 66.4821 115.034C71.512 115.034 75.4485 118.97 75.4485 124Z" fill="#F4F4F4"/>
									<path d="M75.4485 181.515C75.4485 186.545 71.512 190.482 66.4821 190.482C61.4521 190.482 57.5156 186.545 57.5156 181.515C57.5156 176.485 61.4521 172.549 66.4821 172.549C71.512 172.33 75.4485 176.485 75.4485 181.515Z" fill="#F4F4F4"/>
									<path d="M75.4485 238.813C75.4485 243.843 71.512 247.78 66.4821 247.78C61.4521 247.78 57.5156 243.843 57.5156 238.813C57.5156 233.783 61.4521 229.847 66.4821 229.847C71.512 229.847 75.4485 234.002 75.4485 238.813Z" fill="#F4F4F4"/>
									<path d="M132.968 66.4831C132.968 71.513 129.032 75.4495 124.002 75.4495C118.972 75.4495 115.035 71.513 115.035 66.4831C115.035 61.4531 118.972 57.5166 124.002 57.5166C129.032 57.5166 132.968 61.4531 132.968 66.4831Z" fill="#F4F4F4"/>
									<path d="M132.968 124C132.968 129.03 129.032 132.967 124.002 132.967C118.972 132.967 115.035 129.03 115.035 124C115.035 118.97 118.972 115.034 124.002 115.034C129.032 115.034 132.968 118.97 132.968 124Z" fill="#F4F4F4"/>
									<path d="M132.968 181.515C132.968 186.545 129.032 190.482 124.002 190.482C118.972 190.482 115.035 186.545 115.035 181.515C115.035 176.485 118.972 172.549 124.002 172.549C129.032 172.33 132.968 176.485 132.968 181.515Z" fill="#F4F4F4"/>
									<path d="M132.968 238.813C132.968 243.843 129.032 247.78 124.002 247.78C118.972 247.78 115.035 243.843 115.035 238.813C115.035 233.783 118.972 229.847 124.002 229.847C129.032 229.847 132.968 234.002 132.968 238.813Z" fill="#F4F4F4"/>
									<path d="M190.48 66.4831C190.48 71.513 186.543 75.4495 181.513 75.4495C176.483 75.4495 172.547 71.513 172.547 66.4831C172.547 61.4531 176.483 57.5166 181.513 57.5166C186.543 57.5166 190.48 61.4531 190.48 66.4831Z" fill="#F4F4F4"/>
									<path d="M190.48 124C190.48 129.03 186.543 132.967 181.513 132.967C176.483 132.967 172.547 129.03 172.547 124C172.547 118.97 176.483 115.034 181.513 115.034C186.543 115.034 190.48 118.97 190.48 124Z" fill="#F4F4F4"/>
									<path d="M190.48 181.515C190.48 186.545 186.543 190.482 181.513 190.482C176.483 190.482 172.547 186.545 172.547 181.515C172.547 176.485 176.483 172.549 181.513 172.549C186.543 172.33 190.48 176.485 190.48 181.515Z" fill="#F4F4F4"/>
									<path d="M190.48 238.813C190.48 243.843 186.543 247.78 181.513 247.78C176.483 247.78 172.547 243.843 172.547 238.813C172.547 233.783 176.483 229.847 181.513 229.847C186.543 229.847 190.48 234.002 190.48 238.813Z" fill="#F4F4F4"/>
									<path d="M247.999 66.4831C247.999 71.513 244.063 75.4495 239.033 75.4495C234.003 75.4495 230.066 71.513 230.066 66.4831C230.066 61.4531 234.003 57.5166 239.033 57.5166C243.844 57.5166 247.999 61.4531 247.999 66.4831Z" fill="#F4F4F4"/>
									<path d="M247.999 124C247.999 129.03 244.063 132.967 239.033 132.967C234.003 132.967 230.066 129.03 230.066 124C230.066 118.97 234.003 115.034 239.033 115.034C243.844 115.034 247.999 118.97 247.999 124Z" fill="#F4F4F4"/>
									<path d="M247.999 181.515C247.999 186.545 244.063 190.482 239.033 190.482C234.003 190.482 230.066 186.545 230.066 181.515C230.066 176.485 234.003 172.549 239.033 172.549C243.844 172.33 247.999 176.485 247.999 181.515Z" fill="#F4F4F4"/>
									<path d="M247.999 238.813C247.999 243.843 244.063 247.78 239.033 247.78C234.003 247.78 230.066 243.843 230.066 238.813C230.066 233.783 234.003 229.847 239.033 229.847C243.844 229.847 247.999 234.002 247.999 238.813Z" fill="#F4F4F4"/>
									<path d="M75.4485 8.96646C75.4485 13.9964 71.512 17.9328 66.4821 17.9328C61.4521 17.9328 57.5156 13.9964 57.5156 8.96646C57.5156 3.9365 61.4521 0 66.4821 0C71.512 0 75.4485 3.9365 75.4485 8.96646Z" fill="#F4F4F4"/>
									<path d="M132.968 8.96646C132.968 13.9964 129.032 17.9328 124.002 17.9328C118.972 17.9328 115.035 13.9964 115.035 8.96646C115.035 3.9365 118.972 0 124.002 0C129.032 0 132.968 3.9365 132.968 8.96646Z" fill="#F4F4F4"/>
									<path d="M190.48 8.96646C190.48 13.9964 186.543 17.9328 181.513 17.9328C176.483 17.9328 172.547 13.9964 172.547 8.96646C172.547 3.9365 176.483 0 181.513 0C186.543 0 190.48 3.9365 190.48 8.96646Z" fill="#F4F4F4"/>
									<path d="M47.0188 37.8341C47.0188 42.864 43.0823 46.8005 38.0524 46.8005C33.0224 46.8005 29.0859 42.864 29.0859 37.8341C29.0859 32.8041 33.0224 28.8676 38.0524 28.8676C42.8636 28.6489 47.0188 32.8041 47.0188 37.8341Z" fill="#F4F4F4"/>
									<path d="M104.316 37.8341C104.316 42.864 100.379 46.8005 95.3492 46.8005C90.3193 46.8005 86.3828 42.864 86.3828 37.8341C86.3828 32.8041 90.3193 28.8676 95.3492 28.8676C100.379 28.6489 104.316 32.8041 104.316 37.8341Z" fill="#F4F4F4"/>
									<path d="M161.831 37.8341C161.831 42.8641 157.895 46.8006 152.865 46.8006C147.835 46.8006 143.898 42.8641 143.898 37.8341C143.898 32.8042 147.835 28.8677 152.865 28.8677C157.895 28.8677 161.831 32.8042 161.831 37.8341Z" fill="#F4F4F4"/>
									<path d="M219.132 37.8341C219.132 42.864 215.196 46.8005 210.166 46.8005C205.136 46.8005 201.199 42.864 201.199 37.8341C201.199 32.8041 205.136 28.8676 210.166 28.8676C215.196 28.6489 219.132 32.8041 219.132 37.8341Z" fill="#F4F4F4"/>
									<path d="M47.0188 95.131C47.0188 100.161 43.0823 104.097 38.0524 104.097C33.0224 104.097 29.0859 100.161 29.0859 95.131C29.0859 90.1011 33.0224 86.1646 38.0524 86.1646C42.8636 86.1646 47.0188 90.3197 47.0188 95.131Z" fill="#F4F4F4"/>
									<path d="M104.316 95.131C104.316 100.161 100.379 104.097 95.3492 104.097C90.3193 104.097 86.3828 100.161 86.3828 95.131C86.3828 90.1011 90.3193 86.1646 95.3492 86.1646C100.379 86.1646 104.316 90.3197 104.316 95.131Z" fill="#F4F4F4"/>
									<path d="M161.831 95.131C161.831 100.161 157.895 104.097 152.865 104.097C147.835 104.097 143.898 100.161 143.898 95.131C143.898 90.1011 147.835 86.1646 152.865 86.1646C157.895 86.1646 161.831 90.3197 161.831 95.131Z" fill="#F4F4F4"/>
									<path d="M219.132 95.131C219.132 100.161 215.196 104.097 210.166 104.097C205.136 104.097 201.199 100.161 201.199 95.131C201.199 90.1011 205.136 86.1646 210.166 86.1646C215.196 86.1646 219.132 90.3197 219.132 95.131Z" fill="#F4F4F4"/>
									<path d="M47.0188 152.649C47.0188 157.679 43.0823 161.615 38.0524 161.615C33.0224 161.615 29.0859 157.679 29.0859 152.649C29.0859 147.619 33.0224 143.682 38.0524 143.682C42.8636 143.682 47.0188 147.619 47.0188 152.649Z" fill="#F4F4F4"/>
									<path d="M104.316 152.649C104.316 157.679 100.379 161.615 95.3492 161.615C90.3193 161.615 86.3828 157.679 86.3828 152.649C86.3828 147.619 90.3193 143.682 95.3492 143.682C100.379 143.682 104.316 147.619 104.316 152.649Z" fill="#F4F4F4"/>
									<path d="M161.831 152.649C161.831 157.679 157.895 161.615 152.865 161.615C147.835 161.615 143.898 157.679 143.898 152.649C143.898 147.619 147.835 143.682 152.865 143.682C157.895 143.682 161.831 147.619 161.831 152.649Z" fill="#F4F4F4"/>
									<path d="M219.132 152.649C219.132 157.679 215.196 161.615 210.166 161.615C205.136 161.615 201.199 157.679 201.199 152.649C201.199 147.619 205.136 143.682 210.166 143.682C215.196 143.682 219.132 147.619 219.132 152.649Z" fill="#F4F4F4"/>
									<path d="M47.0188 210.165C47.0188 215.195 43.0823 219.132 38.0524 219.132C33.0224 219.132 29.0859 215.195 29.0859 210.165C29.0859 205.135 33.0224 201.199 38.0524 201.199C42.8636 201.199 47.0188 205.135 47.0188 210.165Z" fill="#F4F4F4"/>
									<path d="M104.316 210.165C104.316 215.195 100.379 219.132 95.3492 219.132C90.3193 219.132 86.3828 215.195 86.3828 210.165C86.3828 205.135 90.3193 201.199 95.3492 201.199C100.379 201.199 104.316 205.135 104.316 210.165Z" fill="#F4F4F4"/>
									<path d="M161.831 210.165C161.831 215.195 157.895 219.132 152.865 219.132C147.835 219.132 143.898 215.195 143.898 210.165C143.898 205.135 147.835 201.199 152.865 201.199C157.895 201.199 161.831 205.135 161.831 210.165Z" fill="#F4F4F4"/>
									<path d="M219.132 210.165C219.132 215.195 215.196 219.132 210.166 219.132C205.136 219.132 201.199 215.195 201.199 210.165C201.199 205.135 205.136 201.199 210.166 201.199C215.196 201.199 219.132 205.135 219.132 210.165Z" fill="#F4F4F4"/>
									<path d="M247.999 8.96646C247.999 13.9964 244.063 17.9328 239.033 17.9328C234.003 17.9328 230.066 13.9964 230.066 8.96646C230.066 3.9365 234.003 0 239.033 0C243.844 0 247.999 3.9365 247.999 8.96646Z" fill="#F4F4F4"/>
								</svg>
							</div>
							<div class="heading__graphic-item heading__graphic-item_ball" data-parallax data-parallax-orientation="up" data-parallax-scale="1.8">
								<span class="heading__graphic-ball"></span>
							</div>
							<div class="heading__graphic-item heading__graphic-item_circles" data-parallax data-parallax-orientation="up" data-parallax-scale="1.6">
								<svg class="heading__graphic-circles" width="84" height="84" viewBox="0 0 84 84" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M84 42C84 18.8411 65.1589 0 42 0C18.8411 0 0 18.8411 0 42C0 65.1589 18.8411 84 42 84C65.1589 84 84 65.1589 84 42ZM2.66917 42C2.66917 20.3327 20.3327 2.66916 42 2.66916C63.6673 2.66916 81.3308 20.3327 81.3308 42C81.3308 63.6673 63.6673 81.3308 42 81.3308C20.2542 81.3308 2.66917 63.6673 2.66917 42Z" fill="#2C2C2C"/>
									<path d="M78.6593 42.0001C78.6593 21.7459 62.1733 5.33838 41.9976 5.33838C21.7434 5.33838 5.33594 21.8244 5.33594 42.0001C5.33594 62.2543 21.8219 78.7402 41.9976 78.7402C62.2518 78.6617 78.6593 62.2543 78.6593 42.0001ZM7.92659 42.0001C7.92659 23.2374 23.235 7.92903 41.9976 7.92903C60.7602 7.92903 76.0686 23.2374 76.0686 42.0001C76.0686 60.7627 60.7602 76.0711 41.9976 76.0711C23.235 76.0711 7.92659 60.7627 7.92659 42.0001Z" fill="#2C2C2C"/>
									<path d="M73.4014 42C73.4014 24.6505 59.2705 10.5981 41.9995 10.5981C24.65 10.5981 10.5977 24.729 10.5977 42C10.5977 59.3495 24.7285 73.4019 41.9995 73.4019C59.3491 73.4019 73.4014 59.3495 73.4014 42ZM13.1883 42C13.1883 26.1421 26.1416 13.1888 41.9995 13.1888C57.8575 13.1888 70.8107 26.1421 70.8107 42C70.8107 57.858 57.8575 70.8112 41.9995 70.8112C26.1416 70.8112 13.1883 57.858 13.1883 42Z" fill="#2C2C2C"/>
									<path d="M68.1435 42C68.1435 27.5551 56.4463 15.8579 42.0014 15.8579C27.5566 15.8579 15.8594 27.5551 15.8594 42C15.8594 56.4448 27.5566 68.142 42.0014 68.142C56.4463 68.142 68.1435 56.4448 68.1435 42ZM18.45 42C18.45 29.0467 28.9697 18.4486 42.0014 18.4486C54.9547 18.4486 65.5528 28.9682 65.5528 42C65.5528 54.9532 55.0332 65.5514 42.0014 65.5514C29.0482 65.5514 18.45 54.9532 18.45 42Z" fill="#2C2C2C"/>
									<path d="M62.8817 41.9999C62.8817 30.5382 53.5396 21.1177 41.9994 21.1177C30.5377 21.1177 21.1172 30.4597 21.1172 41.9999C21.1172 53.4616 30.4592 62.8822 41.9994 62.8822C53.4611 62.8822 62.8817 53.4616 62.8817 41.9999ZM23.7863 41.9999C23.7863 31.9513 31.9508 23.7868 41.9994 23.7868C52.048 23.7868 60.2125 31.9513 60.2125 41.9999C60.2125 52.0485 52.048 60.213 41.9994 60.213C31.9508 60.213 23.7863 52.0485 23.7863 41.9999Z" fill="#2C2C2C"/>
									<path d="M57.5449 42C57.5449 33.443 50.558 26.4561 42.001 26.4561C33.4439 26.4561 26.457 33.443 26.457 42C26.457 50.557 33.4439 57.5439 42.001 57.5439C50.558 57.5439 57.5449 50.557 57.5449 42ZM29.0477 42C29.0477 34.8561 34.857 29.0467 42.001 29.0467C49.1449 29.0467 54.9542 34.8561 54.9542 42C54.9542 49.1439 49.1449 54.9532 42.001 54.9532C34.857 54.9532 29.0477 49.1439 29.0477 42Z" fill="#2C2C2C"/>
									<path d="M52.287 41.9999C52.287 36.3476 47.6552 31.7158 42.0029 31.7158C36.3505 31.7158 31.7188 36.3476 31.7188 41.9999C31.7188 47.6523 36.3505 52.284 42.0029 52.284C47.6552 52.284 52.287 47.6523 52.287 41.9999ZM34.3094 41.9999C34.3094 37.7607 37.7636 34.3065 42.0029 34.3065C46.2421 34.3065 49.6963 37.7607 49.6963 41.9999C49.6963 46.2392 46.2421 49.6934 42.0029 49.6934C37.7636 49.6934 34.3094 46.2392 34.3094 41.9999Z" fill="#2C2C2C"/>
									<path d="M47.0252 41.9999C47.0252 39.2522 44.7485 36.9756 42.0009 36.9756C39.2532 36.9756 36.9766 39.2522 36.9766 41.9999C36.9766 44.7475 39.2532 47.0242 42.0009 47.0242C44.7485 47.0242 47.0252 44.7475 47.0252 41.9999ZM39.5672 41.9999C39.5672 40.6653 40.6663 39.5662 42.0009 39.5662C43.3354 39.5662 44.4345 40.6653 44.4345 41.9999C44.4345 43.3345 43.3354 44.4335 42.0009 44.4335C40.6663 44.355 39.5672 43.3345 39.5672 41.9999Z" fill="#2C2C2C"/>
								</svg>
							</div>
							<div class="heading__graphic-item heading__graphic-item_ellipse" data-parallax data-parallax-orientation="down" data-parallax-scale="1.8">
								<span class="heading__graphic-ellipse"></span>
							</div>
						</div>
						<div class="heading__title-number">404</div>
					</div>
				: type === 'history' ?
					<div class="heading__content">
						<h1 class="heading__title heading__title_size_lg" set:html={title}></h1>
						<div class="card-slider heading__slider-cards js-slider-cards">
							<div class="card-slider__items heading__slider-items js-slider-cards-items">
								{cardSlider.map((item, index) => (
									<div class:list={[
										"card-slider__item heading__slider-item",
										'js-slider-cards-item',
										index === 0 ? 'is-active' : ''
									]} data-slide={index}>
										<div class="heading__slider-item-inner card-slider__item-inner">
											<div class="heading__image-box">
												<img class="heading__slider-image heading__image lazy" data-src="img/history-heading.jpg" data-srcset="img/history-heading@2x.jpg 2x" width="1280" height="720" alt=""/>
											</div>
										</div>
									</div>
								
								))}
							</div>
							<!-- 
							<button type="button" class="card-slider__prev heading__slider-prev js-slider-cards-prev" aria-label="Предыдущий слайд">
								<Icon name="arrow"></Icon>
							</button>-->
							<button type="button" class="card-slider__next heading__slider-next js-slider-cards-next" aria-label="Следующий слайд">
								<Icon name="arrow"></Icon>
							</button>

							<div class="card-slider__pagination heading__slider-pagination js-slider-cards-pagination slider-pagination">
								{cardSlider.map((item, index) => (
									<div class:list={[
										"slider-pagination__item js-slider-cards-pagination-item",
										index === 0 ? 'is-active' : ''
									]} data-index={index}></div>
								))}
							</div>
							<div class="heading__graphic">
								<div class="heading__graphic-item heading__graphic-item_ball" data-parallax data-parallax-orientation="up" data-parallax-scale="1.8">
									<span class="heading__graphic-ball"></span>
								</div>
								<div class="heading__graphic-item heading__graphic-item_lines" data-parallax data-parallax-orientation="up" data-parallax-scale="1.6">
									<svg class="heading__graphic-lines" width="114" height="114" viewBox="0 0 114 114" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M3.9 0H0V113.4H3.9V0Z" fill="black"/>
										<path d="M11.6998 0H7.7998V113.4H11.6998V0Z" fill="black"/>
										<path d="M19.4996 0H15.5996V113.4H19.4996V0Z" fill="black"/>
										<path d="M27.4 0H23.5V113.4H27.4V0Z" fill="black"/>
										<path d="M35.1998 0H31.2998V113.4H35.1998V0Z" fill="black"/>
										<path d="M42.9996 0H39.0996V113.4H42.9996V0Z" fill="black"/>
										<path d="M50.8004 0H46.9004V113.4H50.8004V0Z" fill="black"/>
										<path d="M58.6002 0H54.7002V113.4H58.6002V0Z" fill="black"/>
										<path d="M66.4 0H62.5V113.4H66.4V0Z" fill="black"/>
										<path d="M74.3004 0H70.4004V113.4H74.3004V0Z" fill="black"/>
										<path d="M82.1002 0H78.2002V113.4H82.1002V0Z" fill="black"/>
										<path d="M89.9 0H86V113.4H89.9V0Z" fill="black"/>
										<path d="M97.6998 0H93.7998V113.4H97.6998V0Z" fill="black"/>
										<path d="M105.5 0H101.6V113.4H105.5V0Z" fill="black"/>
										<path d="M113.4 0H109.5V113.4H113.4V0Z" fill="black"/>
									</svg>
								</div>
							</div>
						</div>
					</div>
					
				: type === 'about' ?
					<div class="heading__image-box">
						<img class="heading__image" src="img/about-heading.jpg" srcset="img/about-heading@2x.jpg 2x" width="508" height="337" alt=""/>

						<div class="heading__graphic">
							<div class="heading__graphic-item heading__graphic-item_ball" data-parallax data-parallax-orientation="up" data-parallax-scale="1.8">
								<span class="heading__graphic-ball"></span>
							</div>
							<div class="heading__graphic-item heading__graphic-item_squares" data-parallax data-parallax-orientation="up" data-parallax-scale="1.6">
								<svg class="heading__graphic-squares" width="69" height="69" viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M68.4008 60.8003H60.8008V68.4003H68.4008V60.8003Z" fill="#2C2C2C"/>
									<path d="M68.4008 15.2002H60.8008V22.8002H68.4008V15.2002Z" fill="#2C2C2C"/>
									<path d="M68.4008 30.3999H60.8008V37.9999H68.4008V30.3999Z" fill="#2C2C2C"/>
									<path d="M68.4008 45.6001H60.8008V53.2001H68.4008V45.6001Z" fill="#2C2C2C"/>
									<path d="M68.4008 0H60.8008V7.59999H68.4008V0Z" fill="#2C2C2C"/>
									<path d="M60.8012 7.6001H53.2012V15.2001H60.8012V7.6001Z" fill="#2C2C2C"/>
									<path d="M60.8012 22.8003H53.2012V30.4003H60.8012V22.8003Z" fill="#2C2C2C"/>
									<path d="M60.8012 38H53.2012V45.6H60.8012V38Z" fill="#2C2C2C"/>
									<path d="M60.8012 53.2002H53.2012V60.8002H60.8012V53.2002Z" fill="#2C2C2C"/>
									<path d="M53.1996 60.7998H45.5996V68.3998H53.1996V60.7998Z" fill="#2C2C2C"/>
									<path d="M53.1996 15.2002H45.5996V22.8002H53.1996V15.2002Z" fill="#2C2C2C"/>
									<path d="M53.1996 30.3999H45.5996V37.9999H53.1996V30.3999Z" fill="#2C2C2C"/>
									<path d="M53.1996 45.6001H45.5996V53.2001H53.1996V45.6001Z" fill="#2C2C2C"/>
									<path d="M53.1996 0H45.5996V7.59999H53.1996V0Z" fill="#2C2C2C"/>
									<path d="M45.6 7.6001H38V15.2001H45.6V7.6001Z" fill="#2C2C2C"/>
									<path d="M45.6 22.8003H38V30.4003H45.6V22.8003Z" fill="#2C2C2C"/>
									<path d="M45.6 38H38V45.6H45.6V38Z" fill="#2C2C2C"/>
									<path d="M45.6 53.2002H38V60.8002H45.6V53.2002Z" fill="#2C2C2C"/>
									<path d="M38.0004 60.7998H30.4004V68.3998H38.0004V60.7998Z" fill="#2C2C2C"/>
									<path d="M38.0004 15.2002H30.4004V22.8002H38.0004V15.2002Z" fill="#2C2C2C"/>
									<path d="M38.0004 30.3999H30.4004V37.9999H38.0004V30.3999Z" fill="#2C2C2C"/>
									<path d="M38.0004 45.6001H30.4004V53.2001H38.0004V45.6001Z" fill="#2C2C2C"/>
									<path d="M38.0004 0H30.4004V7.59999H38.0004V0Z" fill="#2C2C2C"/>
									<path d="M30.4027 7.6001H22.8027V15.2001H30.4027V7.6001Z" fill="#2C2C2C"/>
									<path d="M30.4027 22.8003H22.8027V30.4003H30.4027V22.8003Z" fill="#2C2C2C"/>
									<path d="M30.4027 38H22.8027V45.6H30.4027V38Z" fill="#2C2C2C"/>
									<path d="M30.4027 53.2002H22.8027V60.8002H30.4027V53.2002Z" fill="#2C2C2C"/>
									<path d="M22.7992 60.7998H15.1992V68.3998H22.7992V60.7998Z" fill="#2C2C2C"/>
									<path d="M22.7992 15.2002H15.1992V22.8002H22.7992V15.2002Z" fill="#2C2C2C"/>
									<path d="M22.7992 30.3999H15.1992V37.9999H22.7992V30.3999Z" fill="#2C2C2C"/>
									<path d="M22.7992 45.6001H15.1992V53.2001H22.7992V45.6001Z" fill="#2C2C2C"/>
									<path d="M22.7992 0H15.1992V7.59999H22.7992V0Z" fill="#2C2C2C"/>
									<path d="M15.1996 7.59961H7.59961V15.1996H15.1996V7.59961Z" fill="#2C2C2C"/>
									<path d="M15.1996 22.7998H7.59961V30.3998H15.1996V22.7998Z" fill="#2C2C2C"/>
									<path d="M15.1996 38H7.59961V45.6H15.1996V38Z" fill="#2C2C2C"/>
									<path d="M15.1996 53.2002H7.59961V60.8002H15.1996V53.2002Z" fill="#2C2C2C"/>
									<path d="M7.6 60.8003H0V68.4003H7.6V60.8003Z" fill="#2C2C2C"/>
									<path d="M7.6 15.2002H0V22.8002H7.6V15.2002Z" fill="#2C2C2C"/>
									<path d="M7.6 30.3999H0V37.9999H7.6V30.3999Z" fill="#2C2C2C"/>
									<path d="M7.6 45.6001H0V53.2001H7.6V45.6001Z" fill="#2C2C2C"/>
									<path d="M7.6 0H0V7.59999H7.6V0Z" fill="#2C2C2C"/>
								</svg>

							</div>
							<div class="heading__graphic-item heading__graphic-item_sector" data-parallax data-parallax-orientation="up" data-parallax-scale="1.7">
								<span class="heading__graphic-sector"></span>
							</div>
							<div class="heading__graphic-item heading__graphic-item_spinners" data-parallax data-parallax-orientation="up" data-parallax-scale="1.4">
								<svg class="heading__graphic-spinners" xmlns="http://www.w3.org/2000/svg" width="157" height="158" viewBox="0 0 157 158" fill="none">
									<path d="M157 11.2243C157 4.98857 152.011 0 145.775 0V11.2243H157Z" fill="#FF4400"/>
									<path d="M134.553 11.2246C134.553 17.4603 139.541 22.4489 145.777 22.4489V11.2246H134.553Z" fill="#FF4400"/>
									<path d="M157 33.673C157 27.4373 152.011 22.4487 145.775 22.4487V33.673H157Z" fill="#FF4400"/>
									<path d="M134.553 33.6733C134.553 39.9091 139.541 44.8976 145.777 44.8976V33.6733H134.553Z" fill="#FF4400"/>
									<path d="M157 56.1217C157 49.886 152.011 44.8975 145.775 44.8975V56.1217H157Z" fill="#FF4400"/>
									<path d="M134.553 56.1221C134.553 62.3578 139.541 67.3464 145.777 67.3464V56.1221H134.553Z" fill="#FF4400"/>
									<path d="M157 78.57C157 72.3343 152.011 67.3457 145.775 67.3457V78.57H157Z" fill="#FF4400"/>
									<path d="M134.553 78.5703C134.553 84.806 139.541 89.7946 145.777 89.7946V78.5703H134.553Z" fill="#FF4400"/>
									<path d="M157 101.018C157 94.7825 152.011 89.7939 145.775 89.7939V101.018H157Z" fill="#FF4400"/>
									<path d="M134.553 101.019C134.553 107.254 139.541 112.243 145.777 112.243V101.019H134.553Z" fill="#FF4400"/>
									<path d="M157 123.467C157 117.231 152.011 112.243 145.775 112.243V123.467H157Z" fill="#FF4400"/>
									<path d="M134.553 123.467C134.553 129.703 139.541 134.692 145.777 134.692V123.467H134.553Z" fill="#FF4400"/>
									<path d="M134.552 11.2243C134.552 4.98857 129.564 0 123.328 0V11.2243H134.552Z" fill="#FF4400"/>
									<path d="M112.105 11.2246C112.105 17.4603 117.094 22.4489 123.33 22.4489V11.2246H112.105Z" fill="#FF4400"/>
									<path d="M134.552 33.673C134.552 27.4373 129.564 22.4487 123.328 22.4487V33.673H134.552Z" fill="#FF4400"/>
									<path d="M112.105 33.6729C112.105 39.9086 117.094 44.8971 123.33 44.8971V33.6729H112.105Z" fill="#FF4400"/>
									<path d="M134.552 56.1213C134.552 49.8855 129.564 44.897 123.328 44.897V56.1213H134.552Z" fill="#FF4400"/>
									<path d="M112.105 56.1216C112.105 62.3573 117.094 67.3459 123.33 67.3459V56.1216H112.105Z" fill="#FF4400"/>
									<path d="M134.552 78.57C134.552 72.3343 129.564 67.3457 123.328 67.3457V78.57H134.552Z" fill="#FF4400"/>
									<path d="M112.105 78.5698C112.105 84.8055 117.094 89.7941 123.33 89.7941V78.5698H112.105Z" fill="#FF4400"/>
									<path d="M134.552 101.018C134.552 94.7825 129.564 89.7939 123.328 89.7939V101.018H134.552Z" fill="#FF4400"/>
									<path d="M112.105 101.018C112.105 107.254 117.094 112.242 123.33 112.242V101.018H112.105Z" fill="#FF4400"/>
									<path d="M134.552 123.467C134.552 117.231 129.564 112.243 123.328 112.243V123.467H134.552Z" fill="#FF4400"/>
									<path d="M112.105 123.467C112.105 129.703 117.094 134.691 123.33 134.691V123.467H112.105Z" fill="#FF4400"/>
									<path d="M112.105 11.2243C112.105 4.98857 107.117 0 100.881 0V11.2243H112.105Z" fill="#FF4400"/>
									<path d="M89.7949 11.2246C89.7949 17.4603 94.7835 22.4489 101.019 22.4489V11.2246H89.7949Z" fill="#FF4400"/>
									<path d="M112.105 33.673C112.105 27.4373 107.117 22.4487 100.881 22.4487V33.673H112.105Z" fill="#FF4400"/>
									<path d="M89.7949 33.6733C89.7949 39.9091 94.7835 44.8976 101.019 44.8976V33.6733H89.7949Z" fill="#FF4400"/>
									<path d="M112.105 56.1213C112.105 49.8855 107.117 44.897 100.881 44.897V56.1213H112.105Z" fill="#FF4400"/>
									<path d="M89.7949 56.1221C89.7949 62.3578 94.7835 67.3464 101.019 67.3464V56.1221H89.7949Z" fill="#FF4400"/>
									<path d="M112.105 78.57C112.105 72.3343 107.117 67.3457 100.881 67.3457V78.57H112.105Z" fill="#FF4400"/>
									<path d="M89.7949 78.5703C89.7949 84.806 94.7835 89.7946 101.019 89.7946V78.5703H89.7949Z" fill="#FF4400"/>
									<path d="M112.105 101.018C112.105 94.7825 107.117 89.7939 100.881 89.7939V101.018H112.105Z" fill="#FF4400"/>
									<path d="M89.7949 101.019C89.7949 107.254 94.7835 112.243 101.019 112.243V101.019H89.7949Z" fill="#FF4400"/>
									<path d="M112.105 123.467C112.105 117.231 107.117 112.243 100.881 112.243V123.467H112.105Z" fill="#FF4400"/>
									<path d="M89.7949 123.467C89.7949 129.703 94.7835 134.692 101.019 134.692V123.467H89.7949Z" fill="#FF4400"/>
									<path d="M89.7927 11.2243C89.7927 4.98857 84.8041 0 78.5684 0V11.2243H89.7927Z" fill="#FF4400"/>
									<path d="M67.3457 11.2246C67.3457 17.4603 72.3343 22.4489 78.57 22.4489V11.2246H67.3457Z" fill="#FF4400"/>
									<path d="M89.7927 33.673C89.7927 27.4373 84.8041 22.4487 78.5684 22.4487V33.673H89.7927Z" fill="#FF4400"/>
									<path d="M67.3457 33.6729C67.3457 39.9086 72.3343 44.8971 78.57 44.8971V33.6729H67.3457Z" fill="#FF4400"/>
									<path d="M89.7927 56.1213C89.7927 49.8855 84.8041 44.897 78.5684 44.897V56.1213H89.7927Z" fill="#FF4400"/>
									<path d="M67.3457 56.1216C67.3457 62.3573 72.3343 67.3459 78.57 67.3459V56.1216H67.3457Z" fill="#FF4400"/>
									<path d="M89.7927 78.57C89.7927 72.3343 84.8041 67.3457 78.5684 67.3457V78.57H89.7927Z" fill="#FF4400"/>
									<path d="M67.3457 78.5698C67.3457 84.8055 72.3343 89.7941 78.57 89.7941V78.5698H67.3457Z" fill="#FF4400"/>
									<path d="M89.7927 101.018C89.7927 94.7825 84.8041 89.7939 78.5684 89.7939V101.018H89.7927Z" fill="#FF4400"/>
									<path d="M67.3457 101.018C67.3457 107.254 72.3343 112.242 78.57 112.242V101.018H67.3457Z" fill="#FF4400"/>
									<path d="M89.7927 123.467C89.7927 117.231 84.8041 112.243 78.5684 112.243V123.467H89.7927Z" fill="#FF4400"/>
									<path d="M67.3457 123.467C67.3457 129.703 72.3343 134.691 78.57 134.691V123.467H67.3457Z" fill="#FF4400"/>
									<path d="M67.3454 11.2243C67.3454 4.98857 62.3568 0 56.1211 0V11.2243H67.3454Z" fill="#FF4400"/>
									<path d="M44.8984 11.2246C44.8984 17.4603 49.887 22.4489 56.1227 22.4489V11.2246H44.8984Z" fill="#FF4400"/>
									<path d="M67.3454 33.673C67.3454 27.4373 62.3568 22.4487 56.1211 22.4487V33.673H67.3454Z" fill="#FF4400"/>
									<path d="M44.8984 33.6733C44.8984 39.9091 49.887 44.8976 56.1227 44.8976V33.6733H44.8984Z" fill="#FF4400"/>
									<path d="M67.3454 56.1217C67.3454 49.886 62.3568 44.8975 56.1211 44.8975V56.1217H67.3454Z" fill="#FF4400"/>
									<path d="M44.8984 56.1221C44.8984 62.3578 49.887 67.3464 56.1227 67.3464V56.1221H44.8984Z" fill="#FF4400"/>
									<path d="M67.3454 78.57C67.3454 72.3343 62.3568 67.3457 56.1211 67.3457V78.57H67.3454Z" fill="#FF4400"/>
									<path d="M44.8984 78.5703C44.8984 84.806 49.887 89.7946 56.1227 89.7946V78.5703H44.8984Z" fill="#FF4400"/>
									<path d="M67.3454 101.018C67.3454 94.7825 62.3568 89.7939 56.1211 89.7939V101.018H67.3454Z" fill="#FF4400"/>
									<path d="M44.8984 101.019C44.8984 107.254 49.887 112.243 56.1227 112.243V101.019H44.8984Z" fill="#FF4400"/>
									<path d="M67.3454 123.467C67.3454 117.231 62.3568 112.243 56.1211 112.243V123.467H67.3454Z" fill="#FF4400"/>
									<path d="M44.8984 123.467C44.8984 129.703 49.887 134.692 56.1227 134.692V123.467H44.8984Z" fill="#FF4400"/>
									<path d="M44.8962 11.2243C44.8962 4.98857 39.9076 0 33.6719 0V11.2243H44.8962Z" fill="#FF4400"/>
									<path d="M22.4492 11.2246C22.4492 17.4603 27.4378 22.4489 33.6735 22.4489V11.2246H22.4492Z" fill="#FF4400"/>
									<path d="M44.8962 33.673C44.8962 27.4373 39.9076 22.4487 33.6719 22.4487V33.673H44.8962Z" fill="#FF4400"/>
									<path d="M22.4492 33.6729C22.4492 39.9086 27.4378 44.8971 33.6735 44.8971V33.6729H22.4492Z" fill="#FF4400"/>
									<path d="M44.8962 56.1213C44.8962 49.8855 39.9076 44.897 33.6719 44.897V56.1213H44.8962Z" fill="#FF4400"/>
									<path d="M22.4492 56.1216C22.4492 62.3573 27.4378 67.3459 33.6735 67.3459V56.1216H22.4492Z" fill="#FF4400"/>
									<path d="M44.8962 78.57C44.8962 72.3343 39.9076 67.3457 33.6719 67.3457V78.57H44.8962Z" fill="#FF4400"/>
									<path d="M22.4492 78.5698C22.4492 84.8055 27.4378 89.7941 33.6735 89.7941V78.5698H22.4492Z" fill="#FF4400"/>
									<path d="M44.8962 101.018C44.8962 94.7825 39.9076 89.7939 33.6719 89.7939V101.018H44.8962Z" fill="#FF4400"/>
									<path d="M22.4492 101.018C22.4492 107.254 27.4378 112.242 33.6735 112.242V101.018H22.4492Z" fill="#FF4400"/>
									<path d="M44.8962 123.467C44.8962 117.231 39.9076 112.243 33.6719 112.243V123.467H44.8962Z" fill="#FF4400"/>
									<path d="M22.4492 123.467C22.4492 129.703 27.4378 134.691 33.6735 134.691V123.467H22.4492Z" fill="#FF4400"/>
									<path d="M22.447 11.2243C22.447 4.98857 17.4584 0 11.2227 0V11.2243H22.447Z" fill="#FF4400"/>
									<path d="M0 11.2246C0 17.4603 4.98854 22.4489 11.2243 22.4489V11.2246H0Z" fill="#FF4400"/>
									<path d="M22.447 33.673C22.447 27.4373 17.4584 22.4487 11.2227 22.4487V33.673H22.447Z" fill="#FF4400"/>
									<path d="M0 33.6733C0 39.9091 4.98854 44.8976 11.2243 44.8976V33.6733H0Z" fill="#FF4400"/>
									<path d="M22.447 56.1213C22.447 49.8855 17.4584 44.897 11.2227 44.897V56.1213H22.447Z" fill="#FF4400"/>
									<path d="M0 56.1221C0 62.3578 4.98854 67.3464 11.2243 67.3464V56.1221H0Z" fill="#FF4400"/>
									<path d="M22.447 78.57C22.447 72.3343 17.4584 67.3457 11.2227 67.3457V78.57H22.447Z" fill="#FF4400"/>
									<path d="M0 78.5703C0 84.806 4.98854 89.7946 11.2243 89.7946V78.5703H0Z" fill="#FF4400"/>
									<path d="M22.447 101.018C22.447 94.7825 17.4584 89.7939 11.2227 89.7939V101.018H22.447Z" fill="#FF4400"/>
									<path d="M0 101.019C0 107.254 4.98854 112.243 11.2243 112.243V101.019H0Z" fill="#FF4400"/>
									<path d="M22.447 123.467C22.447 117.231 17.4584 112.243 11.2227 112.243V123.467H22.447Z" fill="#FF4400"/>
									<path d="M0 123.467C0 129.703 4.98854 134.692 11.2243 134.692V123.467H0Z" fill="#FF4400"/>
									<path d="M157 145.916C157 139.68 152.011 134.692 145.775 134.692V145.916H157Z" fill="#FF4400"/>
									<path d="M134.553 145.917C134.553 152.152 139.541 157.141 145.777 157.141V145.917H134.553Z" fill="#FF4400"/>
									<path d="M134.552 145.916C134.552 139.68 129.564 134.692 123.328 134.692V145.916H134.552Z" fill="#FF4400"/>
									<path d="M112.105 145.916C112.105 152.152 117.094 157.14 123.33 157.14V145.916H112.105Z" fill="#FF4400"/>
									<path d="M112.105 145.916C112.105 139.68 107.117 134.692 100.881 134.692V145.916H112.105Z" fill="#FF4400"/>
									<path d="M89.7949 145.917C89.7949 152.152 94.7835 157.141 101.019 157.141V145.917H89.7949Z" fill="#FF4400"/>
									<path d="M89.7927 145.916C89.7927 139.68 84.8041 134.692 78.5684 134.692V145.916H89.7927Z" fill="#FF4400"/>
									<path d="M67.3457 145.916C67.3457 152.152 72.3343 157.14 78.57 157.14V145.916H67.3457Z" fill="#FF4400"/>
									<path d="M67.3454 145.916C67.3454 139.68 62.3568 134.692 56.1211 134.692V145.916H67.3454Z" fill="#FF4400"/>
									<path d="M44.8984 145.917C44.8984 152.152 49.887 157.141 56.1227 157.141V145.917H44.8984Z" fill="#FF4400"/>
									<path d="M44.8962 145.916C44.8962 139.68 39.9076 134.692 33.6719 134.692V145.916H44.8962Z" fill="#FF4400"/>
									<path d="M22.4492 145.916C22.4492 152.152 27.4378 157.14 33.6735 157.14V145.916H22.4492Z" fill="#FF4400"/>
									<path d="M22.447 145.916C22.447 139.68 17.4584 134.692 11.2227 134.692V145.916H22.447Z" fill="#FF4400"/>
									<path d="M0 145.917C0 152.152 4.98854 157.141 11.2243 157.141V145.917H0Z" fill="#FF4400"/>
								</svg>
							</div>
						</div>
					</div>
					<div class="heading__content">
						<h1 class="heading__title heading__title_size_xl" set:html={title}></h1>
						<div class="heading__text">
							<p>dt&nbsp;group&nbsp;&mdash; команда профессионалов с&nbsp;многолетним опытом создания корпоративных и&nbsp;презентационных фильмов.</p>
						</div>
					</div>
				:
				<div class="heading__content">
					<h1 class:list={[
						"heading__title",
						titleSize ? `heading__title_size_${titleSize}` : ''
					]} set:html={title}></h1>
				</div>
			}
		</div>
	</div>
</div>

