---
import Button from '@components/modules/Button.astro';
import Social from '@components/blocks/Social.astro';

const divisions = [
	{
		logo: "img/dt-medical.svg",
		logoWidth: 154,
		logoHeight: 44,
		title: "Профессиональное видео для медицинских учреждений",
	},
	{
		logo: "img/dt-rent.svg",
		logoWidth: 112,
		logoHeight: 44,
		title: "Аренда профессионального видео оборудования",
	},
	{
		logo: "img/darkhorse.svg",
		logoWidth: 168,
		logoHeight: 56,
		title: "Создаем рекламные, имиджевые и&nbsp;музыкальные видео",
	}
]

const menuServices = [
	[
		"Маркетинговое видео",
		"Презентационные ролики",
		"Продуктовое видео",
		"Рекламные видеоролики",
		"CG",
		"Контент для мероприятий",
		"Видеопрезентация",
		"HR-видео"
	],
	[
		"Обучающее видео",
		"Корпоративное телевидение",
		"Корпоративный фильм",
		"Корпоративное видео",
		"Прямые трансляции",
		"Документальный фильм",
		"Отчетные ролики",
		"Онлайн-мероприятие в студии"
	],
	[
		"Цветокоррекция",
		"Звукозапись",
		"Компьютерная графика",
		"Видеомонтаж",
		"Видеосъемка",
		"Креативное видео",
		"Студия для концертов и шоу"
	]
]

const menuCompany = [
	"О нас",
	"История",
	"Награды",
	"Вакансии",
	"Политика"
]

const socialsTop = [
	{
		label: "Telegram",
		icon: `<svg width="24" height="20" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg">
			<path d="M9.41718 13.1814L9.02018 18.7654C9.58818 18.7654 9.83418 18.5214 10.1292 18.2284L12.7922 15.6834L18.3102 19.7244C19.3222 20.2884 20.0352 19.9914 20.3082 18.7934L23.9302 1.82141L23.9312 1.82041C24.2522 0.324405 23.3902 -0.260595 22.4042 0.106406L1.11418 8.25741C-0.338822 8.82141 -0.316822 9.63141 0.867178 9.99841L6.31018 11.6914L18.9532 3.78041C19.5482 3.38641 20.0892 3.60441 19.6442 3.99841L9.41718 13.1814Z" />
		</svg>`,
		rounded: true,
	},
	{
		label: "WhatsApp",
		icon: `<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
			<path d="M12.003 0H11.997C5.3805 0 0 5.382 0 12C0 14.625 0.846 17.058 2.2845 19.0335L0.789 23.4915L5.4015 22.017C7.299 23.274 9.5625 24 12.003 24C18.6195 24 24 18.6165 24 12C24 5.3835 18.6195 0 12.003 0ZM18.9855 16.9455C18.696 17.763 17.547 18.441 16.6305 18.639C16.0035 18.7725 15.1845 18.879 12.4275 17.736C8.901 16.275 6.63 12.6915 6.453 12.459C6.2835 12.2265 5.028 10.5615 5.028 8.8395C5.028 7.1175 5.9025 6.279 6.255 5.919C6.5445 5.6235 7.023 5.4885 7.482 5.4885C7.6305 5.4885 7.764 5.496 7.884 5.502C8.2365 5.517 8.4135 5.538 8.646 6.0945C8.9355 6.792 9.6405 8.514 9.7245 8.691C9.81 8.868 9.8955 9.108 9.7755 9.3405C9.663 9.5805 9.564 9.687 9.387 9.891C9.21 10.095 9.042 10.251 8.865 10.47C8.703 10.6605 8.52 10.8645 8.724 11.217C8.928 11.562 9.633 12.7125 10.671 13.6365C12.0105 14.829 13.0965 15.21 13.485 15.372C13.7745 15.492 14.1195 15.4635 14.331 15.2385C14.5995 14.949 14.931 14.469 15.2685 13.9965C15.5085 13.6575 15.8115 13.6155 16.1295 13.7355C16.4535 13.848 18.168 14.6955 18.5205 14.871C18.873 15.048 19.1055 15.132 19.191 15.2805C19.275 15.429 19.275 16.1265 18.9855 16.9455Z" />
		</svg>`,
		rounded: false,
	},
]

const socials = [
	{
		label: "ВКонта́кте",
		icon: `<svg width="23" height="14" viewBox="0 0 23 14" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M21.9703 0.9375C22.1372 0.40875 21.9703 0.0243748 21.232 0.0243748H18.7772C18.158 0.0243748 17.872 0.360937 17.7052 0.720937C17.7052 0.720937 16.4423 3.79594 14.6789 5.78953C14.107 6.36609 13.845 6.55828 13.5352 6.55828C13.3683 6.55828 13.1536 6.36609 13.1536 5.83781V0.912656C13.1536 0.288281 12.9633 0 12.4388 0H8.57813C8.19656 0 7.95844 0.288281 7.95844 0.576563C7.95844 1.17703 8.84016 1.32141 8.93531 3.00281V6.65625C8.93531 7.44891 8.79469 7.59375 8.4825 7.59375C7.64859 7.59375 5.62313 4.49484 4.40813 0.96375C4.17188 0.264375 3.93188 0 3.31219 0H0.833906C0.119063 0 0 0.336094 0 0.696563C0 1.34531 0.833906 4.61203 3.88406 8.93578C5.90953 11.8889 8.79281 13.4761 11.3902 13.4761C12.9633 13.4761 13.1536 13.1156 13.1536 12.5152V10.2811C13.1536 9.56062 13.2966 9.44062 13.7972 9.44062C14.1544 9.44062 14.798 9.63234 16.2516 11.0498C17.9194 12.7313 18.2053 13.5 19.1348 13.5H21.5892C22.3041 13.5 22.6378 13.1395 22.447 12.443C22.2328 11.7464 21.4223 10.7377 20.3738 9.53672C19.8019 8.86453 18.9441 8.11969 18.682 7.75922C18.3248 7.27875 18.42 7.08656 18.682 6.65438C18.6581 6.65438 21.6609 2.37844 21.9703 0.935625"/>
		</svg>
		`,
	},
	{
		label: "Vimeo",
		icon: `<svg width="19" height="17" viewBox="0 0 19 17" xmlns="http://www.w3.org/2000/svg">
		<path d="M18.9908 3.93335C18.9065 5.84585 17.6139 8.46575 15.1154 11.7905C12.5327 15.2631 10.347 17 8.55833 17C7.45143 17 6.51435 15.9427 5.74832 13.8268C5.23763 11.8878 4.72571 9.95002 4.21502 8.011C3.64691 5.89638 3.03726 4.83781 2.38485 4.83781C2.24313 4.83781 1.74465 5.1473 0.893096 5.76375L0 4.57254C0.937079 3.72114 1.86194 2.86847 2.77214 2.01454C4.02321 0.89786 4.96151 0.309204 5.58827 0.249833C7.06658 0.103301 7.97678 1.14924 8.31887 3.38638C8.68784 5.80164 8.94318 7.3036 9.08613 7.89099C9.51252 9.89444 9.98167 10.8949 10.4936 10.8949C10.8919 10.8949 11.4893 10.2444 12.2859 8.94577C13.0812 7.64593 13.5076 6.65684 13.565 5.97849C13.6787 4.85676 13.2523 4.29463 12.2859 4.29463C11.8302 4.29463 11.361 4.40201 10.8797 4.61675C11.8131 1.45367 13.5968 -0.0836541 16.2309 0.00350745C18.1832 0.0628783 19.1032 1.37283 18.9908 3.93335Z" />
		</svg>`,
	},
	{
		label: "Youtube",
		icon: `<svg width="21" height="15" viewBox="0 0 21 15" xmlns="http://www.w3.org/2000/svg">
		<path d="M19.607 2.20301C19.4931 1.78041 19.2705 1.39501 18.9614 1.08518C18.6522 0.775338 18.2673 0.551868 17.845 0.437007C16.279 0.00700739 10.014 7.59651e-06 10.014 7.59651e-06C10.014 7.59651e-06 3.75 -0.00699261 2.183 0.404007C1.76093 0.524154 1.37682 0.750785 1.06757 1.06214C0.758311 1.3735 0.534287 1.75913 0.417002 2.18201C0.00400165 3.74801 1.46514e-06 6.99601 1.46514e-06 6.99601C1.46514e-06 6.99601 -0.00399852 10.26 0.406001 11.81C0.636001 12.667 1.311 13.344 2.169 13.575C3.751 14.005 9.999 14.012 9.999 14.012C9.999 14.012 16.264 14.019 17.83 13.609C18.2525 13.4943 18.6377 13.2714 18.9477 12.9622C19.2576 12.653 19.4814 12.2682 19.597 11.846C20.011 10.281 20.014 7.03401 20.014 7.03401C20.014 7.03401 20.034 3.76901 19.607 2.20301ZM8.01 10.005L8.015 4.00501L13.222 7.01001L8.01 10.005Z"/>
		</svg>`,
	},
	{
		label: "Behance",
		icon: `<svg width="23" height="14" viewBox="0 0 23 14" xmlns="http://www.w3.org/2000/svg">
		<path d="M9.4624 6.32798C9.93969 6.09418 10.3005 5.83378 10.5478 5.55238C10.9877 5.04558 11.2048 4.37359 11.2048 3.54059C11.2048 2.72999 10.9877 2.03699 10.5535 1.456C9.82899 0.509599 8.6027 0.0251999 6.86894 0H0V13.6542H6.40458C7.12627 13.6542 7.79476 13.594 8.41294 13.4708C9.03111 13.3462 9.56591 13.118 10.0188 12.7848C10.4213 12.495 10.7577 12.1352 11.0251 11.711C11.4477 11.0698 11.6591 10.3432 11.6591 9.53397C11.6591 8.74997 11.4736 8.08217 11.1056 7.53338C10.7333 6.98458 10.187 6.58278 9.4624 6.32798ZM2.83354 2.37159H5.9273C6.60729 2.37159 7.16796 2.44299 7.60787 2.58439C8.11679 2.79019 8.37125 3.20879 8.37125 3.84719C8.37125 4.41979 8.17717 4.82018 7.79332 5.04558C7.4066 5.27098 6.90488 5.38438 6.28958 5.38438H2.83354V2.37159ZM7.72576 11.0446C7.3836 11.2056 6.902 11.2854 6.28526 11.2854H2.83354V7.64398H6.33271C6.94225 7.64818 7.41667 7.72657 7.75595 7.87357C8.35975 8.13957 8.66021 8.62677 8.66021 9.33937C8.66021 10.1794 8.34968 10.745 7.72576 11.0446Z" />
		<path d="M20.7894 0.636963H14.6982V2.33656H20.7894V0.636963Z" />
		<path d="M22.9055 7.34443C22.779 6.55343 22.5001 5.85763 22.066 5.25704C21.5901 4.57664 20.9863 4.07824 20.2517 3.76324C19.52 3.44684 18.6962 3.28864 17.779 3.29004C16.2393 3.29004 14.9886 3.75904 14.0211 4.69004C13.0564 5.62383 12.5734 6.96643 12.5734 8.71642C12.5734 10.5826 13.1068 11.9308 14.1792 12.7582C15.2474 13.587 16.4808 14 17.8811 14C19.576 14 20.8943 13.5086 21.836 12.5286C22.4383 11.9098 22.779 11.3008 22.8538 10.703H20.0476C19.8851 10.9984 19.6968 11.2294 19.4811 11.3974C19.0901 11.7054 18.5812 11.8594 17.9573 11.8594C17.3635 11.8594 16.8604 11.732 16.4406 11.4786C15.7477 11.0726 15.3854 10.3614 15.3394 9.34922H22.9976C23.0091 8.47702 22.9803 7.80643 22.9055 7.34443ZM15.4084 7.60623C15.509 6.94963 15.7534 6.42883 16.1416 6.04383C16.5297 5.66023 17.0789 5.46704 17.7819 5.46564C18.4302 5.46564 18.9722 5.64623 19.4136 6.00883C19.8492 6.37423 20.095 6.90483 20.1453 7.60623H15.4084Z" />
		</svg>`,
	},
	{
		label: "",
		icon: `<svg width="21" height="20" viewBox="0 0 21 20"  xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M17.5501 0.920711C12.9306 -0.306904 8.06979 -0.306904 3.45023 0.920711C2.68942 1.12367 2.00096 1.53585 1.46324 2.11032C0.925523 2.68479 0.560146 3.39847 0.408707 4.1701C-0.136236 6.95575 -0.136236 9.82036 0.408707 12.606C0.560146 13.3776 0.925523 14.0913 1.46324 14.6658C2.00096 15.2403 2.68942 15.6524 3.45023 15.8554C6.24376 16.5987 9.13747 16.8961 12.0241 16.7365C12.3996 16.7177 12.7688 16.8365 13.0567 17.0802L16.4549 19.9546C16.4864 19.9793 16.5243 19.9947 16.5641 19.9988C16.604 20.003 16.6442 19.9959 16.6801 19.9783C16.7161 19.9606 16.7463 19.9332 16.7674 19.8992C16.7884 19.8652 16.7994 19.8259 16.7991 19.7859V16.4553C16.7991 16.2178 16.9681 16.0054 17.1997 15.9554L17.5501 15.8554C18.3109 15.6524 18.9994 15.2403 19.5371 14.6658C20.0748 14.0913 20.4402 13.3776 20.5916 12.606C21.1361 9.82528 21.1361 6.95707 20.5916 4.1701C20.4402 3.39847 20.0748 2.68479 19.5371 2.11032C18.9994 1.53585 18.3109 1.12367 17.5501 0.920711ZM14.8778 3.71393C15.1908 3.71393 15.4473 3.97014 15.4473 4.28883V6.28845C15.4473 6.60089 15.197 6.85709 14.8778 6.85709H12.8752C12.5623 6.85709 12.2994 7.11329 12.2994 7.43198V12.856C12.2994 13.1684 12.0491 13.4309 11.7299 13.4309H9.4394C9.28778 13.4292 9.14294 13.3679 9.03631 13.2603C8.92969 13.1526 8.86989 13.0074 8.8699 12.856V7.43823C8.8699 7.12579 8.61331 6.86334 8.30039 6.86334H6.29774C5.98483 6.86334 5.72198 6.61339 5.72198 6.2947V4.29507C5.72198 3.98263 5.97857 3.72018 6.29774 3.72018H14.8716L14.8778 3.71393Z"/>
		</svg>`,
	},
	{
		label: "Дзен",
		icon: `<svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M13.1214 13.1214C11.3929 14.905 11.275 17.1286 11.1179 22C15.6593 22 18.7943 21.9843 20.4129 20.4129C21.9843 18.7943 22 15.51 22 11.1179C17.1286 11.275 14.905 11.3929 13.1214 13.1214ZM10.8821 22C6.34071 22 3.20571 21.9843 1.58714 20.4129C0.0157143 18.7943 0 15.51 0 11.1179C4.87143 11.275 7.095 11.3929 8.87857 13.1214C10.6071 14.905 10.725 17.1286 10.8821 22ZM8.87857 8.87857C7.095 10.6071 4.87143 10.725 0 10.8821C0 6.49 0.0157143 3.20571 1.58714 1.58714C3.20571 0.0157143 6.34857 0 10.8821 0C10.725 4.87143 10.6071 7.095 8.87857 8.87857ZM11.1179 0C11.2671 4.87143 11.3929 7.095 13.1214 8.87857C14.905 10.6071 17.1286 10.725 22 10.8821C22 6.49 21.9843 3.20571 20.4129 1.58714C18.7943 0.0157143 15.6593 0 11.1179 0Z"/>
		</svg>`,
	},
	{
		label: "Facebook",
		icon: `<svg width="10" height="20" viewBox="0 0 10 20" xmlns="http://www.w3.org/2000/svg">
			<path d="M2.952 19.2H6.468V10.44H9.408L9.852 7.032H6.468V4.848C6.468 3.864 6.744 3.192 8.16 3.192H9.972V0.132C9.66 0.0959999 8.592 0 7.344 0C4.728 0 2.952 1.596 2.952 4.512V7.032H0V10.44H2.952V19.2Z"/>
			</svg>`,
		disabled: true
	},
	{
		label: "Instagram",
		icon: `<svg width="19" height="19" viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg">
		<path d="M9.36632 6.24445C7.64601 6.24445 6.2421 7.64835 6.2421 9.36867C6.2421 11.089 7.64601 12.4929 9.36632 12.4929C11.0866 12.4929 12.4905 11.089 12.4905 9.36867C12.4905 7.64835 11.0866 6.24445 9.36632 6.24445ZM18.7366 9.36867C18.7366 8.07492 18.7484 6.79288 18.6757 5.50148C18.603 4.00148 18.2609 2.67023 17.164 1.57335C16.0648 0.474135 14.7359 0.134291 13.2359 0.0616346C11.9421 -0.0110216 10.6601 0.000697135 9.36866 0.000697135C8.07491 0.000697135 6.79288 -0.0110216 5.50148 0.0616346C4.00148 0.134291 2.67023 0.476478 1.57335 1.57335C0.474135 2.67257 0.134291 4.00148 0.0616346 5.50148C-0.0110217 6.79523 0.000697135 8.07726 0.000697135 9.36867C0.000697135 10.6601 -0.0110217 11.9444 0.0616346 13.2359C0.134291 14.7359 0.476478 16.0671 1.57335 17.164C2.67257 18.2632 4.00148 18.603 5.50148 18.6757C6.79523 18.7484 8.07726 18.7366 9.36866 18.7366C10.6624 18.7366 11.9444 18.7484 13.2359 18.6757C14.7359 18.603 16.0671 18.2609 17.164 17.164C18.2632 16.0648 18.603 14.7359 18.6757 13.2359C18.7507 11.9444 18.7366 10.6624 18.7366 9.36867ZM9.36632 14.1757C6.70616 14.1757 4.55929 12.0288 4.55929 9.36867C4.55929 6.70851 6.70616 4.56163 9.36632 4.56163C12.0265 4.56163 14.1734 6.70851 14.1734 9.36867C14.1734 12.0288 12.0265 14.1757 9.36632 14.1757ZM14.3702 5.48742C13.7491 5.48742 13.2476 4.98585 13.2476 4.36476C13.2476 3.74367 13.7491 3.2421 14.3702 3.2421C14.9913 3.2421 15.4929 3.74367 15.4929 4.36476C15.4931 4.51224 15.4642 4.65831 15.4078 4.7946C15.3514 4.93089 15.2688 5.05473 15.1645 5.15901C15.0602 5.2633 14.9364 5.34598 14.8001 5.40234C14.6638 5.45869 14.5177 5.4876 14.3702 5.48742Z" />
		</svg>`,
		disabled: true
	},
]
---

<footer class="footer">
	<div class="footer__section footer__section_top">
		<div class="container">
			<div class="footer__row footer__row_top">
				<div class="footer__code">
					<img class="footer__code-image lazy" data-src="img/code.png" width="100" height="100" alt="">
				</div>
				<div class="footer__contacts">
					<div class="footer__contacts-item">
						<div class="footer__contacts-title">Контакты:</div>
						<a href="tel:+74956650248" class="footer__contacts-link footer__contacts-phone">+7 (495) 665-02-48</a>
						<a href="mailto:info@dtgroup.ru" class="footer__contacts-link footer__contacts-email">info@dtgroup.ru</a>
					</div>
					<div class="footer__contacts-item">
						<div class="footer__contacts-title">Адрес:</div>
						<div class="footer__contacts-address">Москва, ул. Электродная, д.&nbsp;13</div>
						<a href="mailto:info@dtgroup.ru" class="footer__contacts-link footer__contacts-scheme">Схема проезда</a>
					</div>
				</div>
				<div class="footer__contact-us">
					<Social class="footer__contact-us-list footer__socials-list" list={socialsTop} style="light"></Social>
					<div class="footer__brief">
						<Button class="footer__brief-button" style={'outline'} icon="arrow" data-modal-open="#modal_contact">Заполнить бриф</Button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__section footer__section_middle_first">
		<div class="container">
			<div class="footer__row footer__row_middle_first">
				<div class="footer__services">
					<h4 class="footer__title">Продукты и услуги</h4>
					<div class="footer__menu">
						<ul class="footer__menu-list footer__services-list">
						{menuServices.map((menuItem) => (
							menuItem.map((item) => (
								<li>
									<a href="" class="footer__menu-link" set:html={item}></a>
								</li>
							))
						))}
						</ul>
					</div>
				</div>
				<div class="footer__company">
					<h4 class="footer__title">Компания</h4>
					<div class="footer__company-menu footer__menu">
						<ul class="footer__menu-list">
							{
								menuCompany.map((item) => (
									<li><a href="" class="footer__menu-link" set:html={item}></a></li>
								))
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__section footer__section_middle_second">
		<div class="container">
			<div class="footer__row footer__row_middle_second">
				<div class="footer__divisions">
					<h4 class="footer__title">Наши подразделения</h4>
					<div class="footer__divisions-items">
						{divisions.map((item, index) => (
							<div class="footer__divisions-item">
								<a href="" class="footer__divisions-link">
									<div class="footer__divisions-logo">
										<img class="footer__divisions-logo-image lazy" data-src={item.logo} width={item.logoWidth} height={item.logoHeight} alt="" />
									</div>
									<div class="footer__divisions-title" set:html={item.title}></div>
								</a>
							</div>
						))}
					</div>
				</div>
				<div class="footer__socials">
					<h4 class="footer__title">Присоединяйтесь</h4>
					<Social class="footer__socials-list" list={socials} style="light"></Social>
					<div class="footer__socials-note">* запрещены в РФ</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="footer__section footer__section_bottom">
		<div class="container">
			<div class="footer__row footer__row_bottom">
				<div class="footer__buttons">
					<Button class="footer__button footer__button_video" style={'outline'} size={'sm'} icon="play">Демо-ролик</Button>
					<Button class="footer__button footer__button_presentation" style={'outline'} size={'sm'} icon="pdf">Презентация PDF</Button>
				</div>
				<div class="footer__copyright">&copy;&nbsp;2022&nbsp;dt group. Все права защищены.</div>
				<div class="footer__dev">
					<span class="footer__dev-text">Разработано</span>
					<a href="https://avenuemedia.ru/" class="footer__dev-logo" target="_blank">
						<img class="footer__dev-image lazy" data-src="img/avenue.svg" width="95" height="13" alt="" />
						<span class="footer__dev-year">2023</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
